<form
  (submit)="nextInsideStep.emit()"
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm"
>
  <app-history-line [currentStep]="1" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200" />

  <h1 class="font-semibold text-lg text-gray-900">
    Professores docentes da UNICAMP (Cadastro DGRH)
  </h1>

  <div class="flex flex-row justify-between w-full mb-[10px]">
    <p class="font-semibold text-base text-gray-700">Docente cadastrado</p>
    <button
      type="button"
      class="font-semibold text-sm text-violet-700 rounded-lg px-4 py-[10px] bg-violet-50 border border-violet-200"
      (click)="openNewProfessorModal = true"
    >
      Novo docente
    </button>
  </div>

  <div
    *ngIf="hasRecentAdded"
    class="flex items-center justify-between gap-x-4 w-full p-4 rounded-xl bg-emerald-50 border border-emerald-300"
  >
    <div class="flex items-center gap-x-4">
      <div
        class="relative w-4 h-4 rounded-full bg-emerald-600 before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-[28px] before:h-[28px] before:rounded-full before:border-2 before:border-emerald-600/30 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-[38px] after:h-[38px] after:rounded-full after:border-2 after:border-emerald-600/10"
      ></div>

      <p class="font-normal text-sm text-emerald-700">
        Docente cadastrado com <b>sucesso!</b>
      </p>
    </div>

    <button
      class="w-5 h-5 bg-emerald-300 rounded-sm"
      (click)="hasRecentAdded = false"
    ></button>
  </div>

  <div>
    <table class="w-full">
      <thead class="border-b border-b-gray-200">
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[120px]"
        >
          Matrícula
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[218px]"
        >
          Docente
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[218px]"
        >
          Instituição, Unidade e Derpartamento
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-fill"
        >
          Titulação
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[135px]"
        >
          Carga horária
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-11"
        ></th>
      </thead>
      <!-- <tbody>
        <tr *ngFor="let professor of professors">
          <td class="px-6 py-3 text-left font-medium text-sm text-gray-900">
            {{ professor.matricula }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ professor.docente }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ professor.instituicao }}/{{ professor.unidade }}/
            {{ professor.departamento }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ professor.titulacao }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ professor.carga_horas }}h{{ professor.carga_minutos }}m
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            <div class="flex gap-x-2">
              <div class="w-5 h-5 rounded-sm bg-violet-700"></div>
              <div class="w-5 h-5 rounded-sm bg-violet-700"></div>
            </div>
          </td>
        </tr>
      </tbody> -->
    </table>
    <div class="w-full bg-gray-50" *ngIf="professors.length === 0">
      <div class="w-[352px] mx-auto py-[48px]">
        <p class="font-semibold text-base text-gray-900 text-center">
          Sem docentes cadastrados
        </p>
        <p class="font-normal text-sm text-gray-600 text-center">
          Para cadastrar um novo docente, clique no botão "Novo docente"
        </p>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
      >
        Próximo
      </button>
    </div>
  </div>
</form>

<div
  *ngIf="openNewProfessorModal"
  class="flex justify-end items-start w-screen h-screen absolute top-0 left-0 z-40 backdrop-blur-sm bg-black/50"
>
  <form
    [formGroup]="modalFormGroup"
    class="z-50 w-[798px] h-screen bg-white p-6 overflow-y-auto"
  >
    <div class="flex flex-col gap-y-8">
      <div class="flex justify-between">
        <div>
          <h1 class="font-semibold text-base text-gray-900">
            Cadastrar novo docente
          </h1>
          <p class="font-normal text-sm text-gray-700">
            UNICAMP (Cadastro DGRH)
          </p>
        </div>
        <button class="w-5 h-5" type="button" (click)="handleCloseModal()">
          <img
            src="../../../../../../../../assets/svgs/x-close.svg"
            class="w-5 h-5"
          />
        </button>
      </div>
      <div class="flex flex-col gap-y-6">
        <div class="relative flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700"
            >Pesquisar por docentes*</label
          >
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <img
              src="../../../../../../../../assets/svgs/search.svg"
              class="w-5 h-5"
            />
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Pesquisar"
              formControlName="docente"
              (focus)="focusSearchInput = true"
            />
          </div>
          <p class="font-normal text-sm text-gray-600">
            Pesquisa por nome ou por número de matrícula
          </p>
          <div
            class="absolute z-[1] top-[70px] left-0 flex flex-col items-center justify-center w-full border border-gray-300 shadow-sm rounded-lg overflow-hidden"
            *ngIf="focusSearchInput"
          >
            <p
              *ngIf="!getFilteredProfessors('docente').length"
              class="w-full font-normal text-base text-gray-700 text-center bg-white px-3 py-2"
            >
              Sem resultados
            </p>
            <button
              class="w-full font-normal text-base text-gray-700 bg-white px-3 py-2 hover:bg-violet-600 hover:text-white"
              *ngFor="let professor of getFilteredProfessors('docente')"
              (click)="handleSelectProfessor(professor)"
              type="button"
            >
              {{ professor.nome }}
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700">Nome *</label>
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Preencha"
              formControlName="docente_nome"
            />
          </div>
        </div>
        <div class="flex gap-x-8 justify-between">
          <div class="flex flex-col gap-[6px]">
            <label class="font-medium text-sm text-gray-700">Matrícula *</label>
            <div
              class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
            >
              <input
                class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Preencha"
                formControlName="docente_matricula"
              />
            </div>
          </div>
          <div class="flex flex-col gap-[6px]">
            <label class="font-medium text-sm text-gray-700">Titulação *</label>
            <div
              class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
            >
              <input
                class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Preencha"
                formControlName="docente_titulacao"
              />
            </div>
          </div>
          <div class="flex flex-col gap-[6px]">
            <label class="font-medium text-sm text-gray-700">Situação *</label>
            <div
              class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
            >
              <input
                class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Preencha"
                formControlName="docente_situacao"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700">Unidade *</label>
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Preencha"
              formControlName="docente_unidade"
            />
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700"
            >Departamento *</label
          >
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Preencha"
              formControlName="docente_departamento"
            />
          </div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="flex gap-x-[18px]">
            <p class="w-full font-medium text-sm text-gray-700">
              Carga horária do docente*
            </p>
          </div>

          <div class="flex gap-x-[18px]">
            <div
              class="flex gap-2 w-[135px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Horas"
                formControlName="docente_carga_horaria_horas"
                [inputMask]="hourInputMask"
              />
            </div>
            <div
              class="flex gap-2 w-[135px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Minutos"
                formControlName="docente_carga_horaria_minutos"
                [inputMask]="minuteInputMask"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-x-[15px]">
        <button
          class="px-[14px] py-2 rounded-lg font-semibold text-sm text-violet-700"
          type="button"
          (click)="handleCloseModal()"
        >
          Cancelar
        </button>
        <button
          class="px-[14px] py-2 rounded-lg font-semibold text-sm text-white bg-violet-600"
          type="button"
          (click)="handleCloseModal()"
          [disabled]="!modalFormGroup.valid"
        >
          Confirmar docente
        </button>
      </div>
    </div>
  </form>
</div>
