<nav
  class="flex flex-col justify-between fixed top-0 left-0 h-full w-[300px] overflow-hidden border-r border-r-gray-200 px-4"
>
  <ul class="flex flex-col items-center gap-y-6 pt-8">
    <img src="../../../assets/extecamp_logo_colored.png" class="w-[250px]" />
    <div class="flex flex-col gap-y-1 w-full">
      <li>
        <a
          [ngClass]="{
            'bg-gray-50 text-gray-900': sidebar === '/professor/home'
          }"
          [routerLink]="['/professor', 'home']"
          class="flex flex-row px-3 py-2 w-full rounded-[6px] font-semibold text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
        >
          Página inicial
        </a>
      </li>
      <li>
        <a
          [ngClass]="{
            'bg-gray-50 text-gray-900': sidebar === '/professor/offering'
          }"
          [routerLink]="['/professor', 'offering']"
          class="flex flex-row px-3 py-2 w-full rounded-[6px] font-semibold text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
        >
          Oferecimentos
        </a>
      </li>
    </div>
  </ul>
  <div class="flex flex-col border-t border-t-gray-200 pt-6 pb-8 gap-y-6">
    <div class="px-2">
      <p class="font-semibold text-sm text-gray-700">Larissa Santos</p>
      <p class="font-normal text-sm text-gray-600">larisantos@extecamp.com</p>
    </div>
    <button
      [routerLink]="['']"
      class="flex flex-row items-center justify-between px-3 py-2 rounded-[6px] font-semibold text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
    >
      Sair
    </button>
  </div>
</nav>
