<nav
  class="flex flex-col justify-between row-span-2 overflow-hidden border-r border-r-gray-200 px-4 h-screen w-full max-[768px]:hidden max-[1024px]:px-2"
>
  <ul class="flex flex-col items-center gap-y-6 pt-8">
    <img src="../../../../assets/extecamp_logo_colored.png" class="w-[250px]" />
    <div class="flex flex-col gap-y-1 w-full">
      <li *ngFor="let navItem of navItens">
        <a
          [ngClass]="{
            'bg-gray-50': verifyPath(navItem?.routerLink),
            'text-gray-900': verifyPath(navItem?.routerLink),
          }"
          [routerLink]="navItem.routerLink"
          class="flex flex-row px-3 py-2 w-full rounded-[6px] font-semibold text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          >{{ navItem.title }}</a
        >
      </li>
    </div>
  </ul>
  <div class="flex flex-col border-t border-t-gray-200 pt-6 pb-8 gap-y-6">
    <div class="px-2">
      <p class="font-semibold text-sm text-gray-700">{{ name }}</p>
      <p class="font-normal text-sm text-gray-600">{{ email }}</p>
    </div>
    <button
      [routerLink]="['']"
      class="flex flex-row items-center justify-between px-3 py-2 rounded-[6px] font-semibold text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
    >
      Sair
      <img src="../../../../../assets/svgs/log-out.svg" class="w-5 h-5" />
    </button>
  </div>
</nav>
