<form
  (submit)="nextInsideStep.emit()"
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm max-[1024px]:w-full max-[768px]:w-screen max-[768px]:px-4"
>
  <app-history-line [currentStep]="4" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200 max-[1024px]:hidden" />

  <h1 class="font-semibold text-lg text-gray-900">Palestrantes</h1>

  <div
    class="flex flex-row justify-between w-full mb-[10px] gap-4 max-[768px]:flex-col"
  >
    <p class="font-semibold text-base text-gray-700">
      Palestrantes cadastrados
    </p>
    <button
      class="font-semibold text-sm text-violet-700 rounded-lg px-4 h-fit w-fit py-[10px] bg-violet-50 border border-violet-200"
      type="button"
      (click)="openNewProfessorModal = true"
    >
      Novo docente
    </button>
  </div>

  <div
    *ngIf="hasRecentAdded"
    class="flex items-center justify-between gap-x-4 w-full p-4 rounded-xl bg-emerald-50 border border-emerald-300"
  >
    <div class="flex items-center gap-x-4">
      <div
        class="relative w-5 h-5 before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-[28px] before:h-[28px] before:rounded-full before:border-2 before:border-emerald-600/30 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-[38px] after:h-[38px] after:rounded-full after:border-2 after:border-emerald-600/10"
      >
        <img
          src="../../../../../../../../assets/svgs/check-circle-emerald.svg"
          class="w-5 h-5"
        />
      </div>

      <p class="font-normal text-sm text-emerald-700">
        Docente cadastrado com <b>sucesso!</b>
      </p>
    </div>

    <button class="w-5 h-5" (click)="hasRecentAdded = false">
      <img
        src="../../../../../../../../assets/svgs/x-close-emerald.svg"
        class="w-5 h-5"
      />
    </button>
  </div>

  <div class="w-full max-[1024px]:overflow-x-auto">
    <table class="w-full max-[1024px]:w-[1008px]">
      <thead class="border-b border-b-gray-200">
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[120px]"
        >
          Matrícula
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[218px]"
        >
          Docente
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[218px]"
        >
          Instituição
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[141px]"
        >
          Titulação
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-fill"
        >
          Vínculo
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-[135px]"
        >
          Carga horária
        </th>
        <th
          class="font-medium text-xs text-left px-6 py-3 text-gray-600 w-11"
        ></th>
      </thead>
      <tbody>
        <tr *ngFor="let speaker of courseSpeakers">
          <td class="px-6 py-3 text-left font-medium text-sm text-gray-900">
            {{ speaker.matricula }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ speaker.nome }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ speaker.instituicao }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ speaker.titulacao }}
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            <div
              [ngClass]="{
                'border-emerald-300 bg-emerald-50 text-emerald-700':
                  speaker.tipo_vinculo === 'Sim',
                'border-red-300 bg-red-50 text-red-700':
                  speaker.tipo_vinculo === 'Não'
              }"
              class="w-fit border px-[6px] py-0.5 rounded-[6px] font-medium text-xs"
            >
              <p>{{ speaker.tipo_vinculo }}</p>
            </div>
          </td>
          <td class="px-6 py-3 text-left font-normal text-sm text-gray-600">
            {{ speaker.carga_horaria }}
          </td>
          <td>
            <div class="flex gap-x-2">
              <button type="button">
                <img
                  src="../../../../../../../../assets/svgs/edit-square-violet.svg"
                  class="w-5 h-5"
                />
              </button>
              <button type="button" (click)="handleUnassignSpeaker(speaker.id)">
                <img
                  src="../../../../../../../../assets/svgs/trash-violet.svg"
                  class="w-5 h-5"
                />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-[1008px] bg-gray-50" *ngIf="courseSpeakers.length === 0">
      <div class="w-[352px] mx-auto py-[48px]">
        <p class="font-semibold text-base text-gray-900 text-center">
          Sem docentes cadastrados
        </p>
        <p class="font-normal text-sm text-gray-600 text-center">
          Para cadastrar um novo docente, clique no botão "Novo docente"
        </p>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
      >
        Próximo
      </button>
    </div>
  </div>
</form>

<div
  *ngIf="openNewProfessorModal"
  class="flex justify-end items-start w-screen h-screen absolute top-0 left-0 z-40 backdrop-blur-sm bg-black/50"
>
  <form
    [formGroup]="modalFormGroup"
    class="z-50 w-[798px] h-screen bg-white p-6 overflow-y-auto max-[768px]:w-screen"
  >
    <div class="flex flex-col gap-y-8">
      <div class="flex justify-between">
        <div>
          <h1 class="font-semibold text-base text-gray-900">
            Cadastrar novo palestrante
          </h1>
        </div>
        <button class="w-5 h-5" type="button" (click)="handleCloseModal()">
          <img
            src="../../../../../../../../assets/svgs/x-close.svg"
            class="w-5 h-5"
          />
        </button>
      </div>
      <div class="flex flex-col gap-y-6">
        <div class="relative flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700"
            >Pesquisar por palestrantes*</label
          >
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <img
              src="../../../../../../../../assets/svgs/search.svg"
              class="w-5 h-5"
            />
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Pesquisar"
              formControlName="docente"
              (focus)="focusSearchInput = true"
            />
          </div>
          <p class="font-normal text-sm text-gray-600">
            Pesquisa por nome ou por número de matrícula
          </p>
          <div
            class="absolute z-[1] top-[70px] left-0 w-full border max-h-36 overflow-y-auto border-gray-300 shadow-sm rounded-lg overflow-hidden"
            *ngIf="focusSearchInput"
          >
            <p
              *ngIf="!getFilteredProfessors('docente').length"
              class="w-full font-normal text-base text-gray-700 text-center bg-white px-3 py-2"
            >
              Sem resultados
            </p>
            <button
              class="w-full font-normal text-base text-gray-700 bg-white px-3 py-2 hover:bg-violet-600 hover:text-white"
              *ngFor="let professor of getFilteredProfessors('docente')"
              (click)="handleSelectProfessor(professor)"
              type="button"
            >
              {{ professor.nome }}
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700">Nome *</label>
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Preencha"
              formControlName="docente_nome"
            />
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700"
            >Típo de vínculo *</label
          >
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <select
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500 bg-white"
              placeholder="Preencha"
              formControlName="docente_vinculo"
            >
              <option selected value="">Selecione</option>
              <option value="Sim">Com vínculo</option>
              <option value="Não">Sem vínculo</option>
            </select>
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700"
            >Nome da palestra *</label
          >
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <input
              class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Preencha"
              formControlName="docente_nome_palestra"
            />
          </div>
        </div>
        <div class="flex flex-col gap-[6px]">
          <label class="font-medium text-sm text-gray-700">Valor *</label>
          <div
            class="flex items-center gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="docente_valor_palestra"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="flex gap-[18px]">
            <p class="w-full font-medium text-sm text-gray-700">
              Carga horária do palestrante*
            </p>
          </div>

          <div class="flex gap-[18px] max-[768px]:flex-col">
            <div
              class="flex gap-2 w-[135px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center max-[768px]:w-full"
            >
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Horas"
                formControlName="docente_carga_horaria_horas"
                [inputMask]="hourInputMask"
              />
            </div>
            <div
              class="flex gap-2 w-[135px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center max-[768px]:w-full"
            >
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="Minutos"
                formControlName="docente_carga_horaria_minutos"
                [inputMask]="minuteInputMask"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-x-[15px]">
        <button
          class="px-[14px] py-2 rounded-lg font-semibold text-sm text-violet-700"
          type="button"
          (click)="handleCloseModal()"
        >
          Cancelar
        </button>
        <button
          class="px-[14px] py-2 rounded-lg font-semibold text-sm text-white bg-violet-600"
          type="button"
          (click)="handleAssignSpeaker()"
          [disabled]="!modalFormGroup.valid"
        >
          Confirmar docente
        </button>
      </div>
    </div>
  </form>
</div>
