<form
  (submit)="nextInsideStep.emit()"
  [formGroup]="stepThreeFormThree"
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm"
>
  <app-history-line [currentStep]="2" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200" />

  <h1 class="font-semibold text-lg text-gray-900">
    Oferecimento e outras informações
  </h1>

  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-[18px]">
      <p class="w-[494px] font-medium text-sm text-gray-700">
        Local do oferecimento *
      </p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[494px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Preencha"
          formControlName="local"
          required
        />
      </div>
    </div>

    <div
      *ngIf="stepThreeFormThree.get('local')?.errors?.['required']  && stepThreeFormThree.get('local')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o local do oferecimento do curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-[18px]">
      <p class="w-[323px] font-medium text-sm text-gray-700">UF *</p>
      <p class="w-[323px] font-medium text-sm text-gray-700">Cidade *</p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="uf"
        >
          <option selected value="">Selecione</option>
          <option value="SP">SP</option>
        </select>
      </div>
      <div
        class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="cidade"
        >
          <option selected value="">Selecione</option>
          <option value="Atibaia">Atibaia</option>
        </select>
      </div>
    </div>

    <div class="flex gap-x-[18px]">
      <div class="w-[323px]">
        <div
          *ngIf="stepThreeFormThree.get('uf')?.errors?.['required']  && stepThreeFormThree.get('uf')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe a UF do oferecimento do curso
          </p>
        </div>
      </div>
      <div class="w-[323px]">
        <div
          *ngIf="stepThreeFormThree.get('cidade')?.errors?.['required']  && stepThreeFormThree.get('cidade')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe a cidade do oferecimento do curso
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col w-full gap-[6px]">
    <label class="w-[494px] font-medium text-sm text-gray-700"
      >Dias da semana e horários</label
    >
    <div
      class="flex gap-2 w-[494px] h-[154px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <textarea
        class="w-full h-full text-gray-800 text-base outline-none resize-none placeholder:text-gray-500"
        placeholder="Preencha"
        formControlName="dias_semana_horarios"
      ></textarea>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-[18px]">
      <p class="w-[238px] font-medium text-sm text-gray-700">
        Início do oferecimento
      </p>
      <p class="w-[238px] font-medium text-sm text-gray-700">
        Encerramento do oferecimento
      </p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <img
          class="w-5 h-5"
          src="../../../../../../../../assets/svgs/calendar.svg"
        />
        <input
          class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="dd/mm/aaaa"
          type="date"
          formControlName="data_inicio"
          onfocus="this.showPicker()"
        />
      </div>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <img
          class="w-5 h-5"
          src="../../../../../../../../assets/svgs/calendar.svg"
        />
        <input
          class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="dd/mm/aaaa"
          type="date"
          formControlName="data_encerramento"
          onfocus="this.showPicker()"
        />
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-[18px]">
      <p class="w-[238px] font-medium text-sm text-gray-700">
        Número mínimo de vagas *
      </p>
      <p class="w-[238px] font-medium text-sm text-gray-700">
        Número máximo de vagas *
      </p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Preencha"
          formControlName="min_vagas"
          required
        />
      </div>
      <div
        class="flex gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Preencha"
          formControlName="max_vagas"
          required
        />
      </div>
    </div>

    <div class="flex flex-row gap-x-[18px]">
      <div class="w-[320px]">
        <p class="font-normal text-sm text-gray-700">
          (Caso o número mínimo seja atingido é obrigatório a realização do
          curso)
        </p>
      </div>
    </div>

    <div class="flex gap-x-[18px]">
      <div class="w-[238px]">
        <div
          *ngIf="stepThreeFormThree.get('min_vagas')?.errors?.['required']  && stepThreeFormThree.get('min_vagas')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe o número mínimo de vagas do oferecimento
          </p>
        </div>
      </div>
      <div class="w-[238px]">
        <div
          *ngIf="stepThreeFormThree.get('max_vagas')?.errors?.['required']  && stepThreeFormThree.get('max_vagas')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe o número máximo de vagas do oferecimento
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepThreeFormThree.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
