<div class="relative flex w-full">
  <div
    class="flex justify-stretch absolute top-[11px] left-1/2 -translate-x-1/2 h-0.5"
  >
    <div
      *ngFor="let item of [].constructor(steps.length - 1); let i = index"
      [ngStyle]="{ width: 1008 / steps.length + 'px' }"
      [ngClass]="{
        'bg-violet-600': i <= currentStep,
        'bg-gray-200': i > currentStep,
      }"
    ></div>
  </div>
  <div
    class="flex flex-col items-center gap-y-4 w-full z-[1]"
    *ngFor="let step of steps"
  >
    <img
      *ngIf="step.stepIndex < currentStep"
      src="../../../../assets/svgs/check-outline-violet.svg"
      class="w-6 h-6"
    />
    <div
      *ngIf="step.stepIndex >= currentStep"
      [ngClass]="{
        'border-4 border-violet-600 bg-violet-100 shadow-[0px_0px_0px_4px] shadow-violet-100': step.stepIndex == currentStep,
        'border-2 border-gray-200 bg-white': step.stepIndex > currentStep,
      }"
      class="flex items-center justify-center w-6 h-6 rounded-full"
    >
      <div
        [ngClass]="{
            'bg-violet-600': step.stepIndex <= currentStep,
            'bg-gray-200': step.stepIndex > currentStep,
          }"
        class="flex rounded-full w-2 h-2"
      ></div>
    </div>
    <p
      [ngClass]="{
        'text-violet-600': step.stepIndex <= currentStep,
        'text-gray-700': step.stepIndex > currentStep,
      }"
      class="flex font-semibold text-sm text-center px-[10px]"
    >
      {{ step.title }}
    </p>
  </div>
</div>
