<div
  [ngClass]="{
    'border border-gray-200': !noBorder
  }"
  class="w-full rounded-2xl"
>
  <div
    [ngClass]="{
      'cursor-not-allowed': isBlocked,
      'cursor-pointer': !isBlocked
    }"
    class="flex justify-between items-center p-4 gap-3"
    (click)="isOpened = !isOpened"
  >
    <div class="flex gap-x-3 items-center">
      <img
        src="../../../../assets/svgs/slash-octagon.svg"
        *ngIf="isBlocked"
        class="w-5 h-5"
      />
      <h1 class="flex flex-1 font-semibold text-base text-gray-600">
        {{ title }}
      </h1>
    </div>

    <img
      src="../../../../assets/svgs/chevron-down.svg"
      [ngClass]="{
        'rotate-180': isOpened,
        'rotate-0': !isOpened
      }"
      class="w-[24px] h-[24px]"
    />
  </div>
  <div
    [ngClass]="{
      'hidden': !isOpened || isBlocked,
      'flex': isOpened && !isBlocked,
    }"
    class="px-[52px] py-4"
  >
    <p class="font-normal text-base text-gray-600" [innerHTML]="content"></p>
  </div>
</div>
