<div class="w-full border border-gray-200 rounded-2xl">
  <div
    class="flex justify-between items-center p-4 gap-3 cursor-pointer"
    (click)="isOpened = !isOpened"
  >
    <h1 class="flex flex-1 font-semibold text-base text-gray-600">
      {{ title }}
    </h1>
    <div class="w-[24px] h-[24px] rounded-sm bg-gray-300"></div>
  </div>
  <div
    [ngClass]="{
      'hidden': !isOpened,
      'flex': isOpened,
    }"
    class="px-[52px] py-4"
  >
    <p class="font-normal text-base text-gray-600" [innerHTML]="content"></p>
  </div>
</div>
