<div class="grid grid-rows-[108px_1fr] grid-cols-[300px_1fr] h-screen">
  <app-sidebar
    [name]="professor?.nome"
    [email]="professor?.email"
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: '/professor'
      },
      {
        title: 'Oferecimentos',
        routerLink: '/professor/offerings'
      }
    ]"
  ></app-sidebar>

  <app-header-navbar
    [name]="professor?.nome"
    [description]="'Bem vindo(a) a sua área do docente EXTECAMP'"
  ></app-header-navbar>

  <div class="col-start-2 overflow-y-auto w-full px-8 py-16 bg-gray-50"></div>
</div>
