<section
  class="relative flex h-screen w-screen items-center justify-center max-[768px]:items-start max-[768px]:justify-start"
>
  <form
    [formGroup]="signInForm"
    (submit)="handleSignIn()"
    class="flex flex-col p-2 items-center gap-8 max-[768px]:w-screen max-[768px]:px-4 max-[768px]:py-10"
  >
    <img
      src="../../../../../assets/extecamp_logo_colored.png"
      class="w-[286px] h-[90px]"
    />
    <div class="flex flex-col gap-6 items-center">
      <div class="flex flex-col gap-6 items-center">
        <div class="flex flex-col gap-6 items-start justify-start">
          <h1 class="font-semibold text-lg text-gray-900">Faça seu login</h1>
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-6">
              <div class="flex flex-col gap-[6px] w-[500px] max-[768px]:w-full">
                <label class="font-medium text-sm text-gray-700">Login</label>
                <div
                  class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
                >
                  <input
                    class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                    placeholder="E-mail ou número de matrícula"
                    type="text"
                    formControlName="login"
                    required
                  />
                  <img
                    src="../../../../../assets/svgs/help.svg"
                    class="w-4 h-4"
                  />
                </div>
                <div
                  *ngIf="signInForm.get('login')?.errors?.['required'] && signInForm.get('login')?.touched"
                >
                  <p class="font-normal text-sm text-red-600">
                    Informe um e-mail ou o número de matrícula
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-[6px] w-[500px] max-[768px]:w-full">
                <label class="font-medium text-sm text-gray-700">Senha</label>
                <div
                  class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
                >
                  <input
                    class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                    placeholder="Senha"
                    type="password"
                    formControlName="senha"
                    required
                  />
                  <img
                    src="../../../../../assets/svgs/help.svg"
                    class="w-4 h-4"
                  />
                </div>
                <div
                  *ngIf="signInForm.get('senha')?.errors?.['required'] && signInForm.get('senha')?.touched"
                >
                  <p class="font-normal text-sm text-red-600">
                    Informe a senha
                  </p>
                </div>
              </div>
            </div>
            <div class="flex w-full justify-end">
              <p class="font-normal text-sm text-sky-500">
                Recuperação de senha
              </p>
            </div>
          </div>
        </div>
        <button
          class="rounded-lg w-fit px-[80px] py-[14px] bg-violet-600 border border-violet-600 font-semibold text-sm text-white shadow-sm"
          type="submit"
          [disabled]="!signInForm.valid"
        >
          Entrar
        </button>
      </div>
      <hr class="flex w-[500px] h-[.5px] bg-gray-200" />
      <div>
        <p class="font-normal text-sm">
          Ainda não é cadastrado?
          <a class="font-normal text-sm text-sky-500" [routerLink]="['/signup']"
            >Cadastre-se aqui</a
          >
        </p>
      </div>
    </div>
  </form>

  <button
    class="absolute left-[65px] top-[65px] px-4 py-[10px] font-semibold text-sm text-violet-700 max-[768px]:hidden"
    [routerLink]="['']"
  >
    Voltar para home
  </button>
</section>
