<form
  (submit)="nextInsideStep.emit()"
  [formGroup]="stepThreeFormTwo"
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm max-[1024px]:w-full max-[768px]:w-screen max-[768px]:px-4"
>
  <app-history-line [currentStep]="1" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200 max-[1024px]:hidden" />

  <h1 class="font-semibold text-lg text-gray-900">Inscrição</h1>

  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-[18px]">
      <p class="w-[494px] font-medium text-sm text-gray-700 max-[768px]:w-full">
        Local *
      </p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[494px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center max-[768px]:w-full"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Preencha"
          formControlName="local"
          required
        />
      </div>
    </div>

    <div
      *ngIf="stepThreeFormTwo.get('local')?.errors?.['required']  && stepThreeFormTwo.get('local')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o local de inscrição do curso
      </p>
    </div>
  </div>

  <div
    class="flex flex-col gap-y-2 max-[768px]:w-full max-[768px]:overflow-x-auto"
  >
    <div class="flex gap-x-[18px] max-[768px]:w-full">
      <p class="w-[324px] font-medium text-sm text-gray-700">
        Telefone da Secretaria de Extensão *
      </p>
      <p class="w-[324px] font-medium text-sm text-gray-700">
        Telefone para informações
      </p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="font-medium text-base text-gray-800 outline-none bg-white"
          formControlName="telefone_secretaria_pais"
        >
          <option selected value="+55 (XX) XXXX-XXXX">BR</option>
        </select>
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="+55 (DDD) 0 0000-0000"
          formControlName="telefone_secretaria"
          required
          [inputMask]="phoneInputMask"
        />
      </div>
      <div
        class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="font-medium text-base text-gray-800 outline-none bg-white"
          formControlName="telefone_informacoes_pais"
        >
          <option selected value="+55 (XX) XXXX-XXXX">BR</option>
        </select>
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="+55 (DDD) 0 0000-0000"
          formControlName="telefone_informacoes"
          [inputMask]="phoneInputMask"
        />
      </div>
    </div>

    <div class="flex gap-x-[18px]">
      <div class="w-[323px]">
        <div
          *ngIf="stepThreeFormTwo.get('telefone_secretaria')?.errors?.['required']  && stepThreeFormTwo.get('telefone_secretaria')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe o telefone da secretaria de extensão
          </p>
        </div>
      </div>
      <div class="w-[323px]"></div>
    </div>
  </div>

  <div class="flex flex-col gap-y-2 max-[768px]:w-full">
    <div class="flex gap-x-[18px]">
      <p class="w-[324px] font-medium text-sm text-gray-700">
        Abertura das incrições *
      </p>
      <p class="w-[324px] font-medium text-sm text-gray-700">
        Encerramento das incrições *
      </p>
    </div>
    <div class="flex gap-x-[18px]">
      <div
        class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <img
          class="w-5 h-5 max-[768px]:hidden"
          src="../../../../../../../../assets/svgs/calendar.svg"
        />
        <input
          class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="dd/mm/aaaa"
          type="date"
          formControlName="data_abertura"
          required
          onfocus="this.showPicker()"
        />
      </div>
      <div
        class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <img
          class="w-5 h-5 max-[768px]:hidden"
          src="../../../../../../../../assets/svgs/calendar.svg"
        />
        <input
          class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="dd/mm/aaaa"
          type="date"
          formControlName="data_encerramento"
          required
          onfocus="this.showPicker()"
        />
      </div>
    </div>

    <div class="flex gap-x-[18px]">
      <div class="w-[324px]">
        <div
          *ngIf="stepThreeFormTwo.get('data_abertura')?.errors?.['required']  && stepThreeFormTwo.get('data_abertura')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe a data de abertura da inscrição
          </p>
        </div>
      </div>
      <div class="w-[324px]">
        <div
          *ngIf="stepThreeFormTwo.get('data_encerramento')?.errors?.['required']  && stepThreeFormTwo.get('data_encerramento')?.touched"
        >
          <p class="font-normal text-sm text-red-600">
            Informe a data de encerramento da inscrição
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">
      O modelo de ficha de inscrição será básico ou completo? *
    </p>

    <div class="flex items-center gap-x-2">
      <input
        type="radio"
        id="modelo_basico"
        formControlName="modelo"
        value="Basico"
      />
      <label for="modelo_basico" class="font-medium text-base text-gray-700"
        >Básico</label
      >
    </div>
    <div class="flex items-center gap-x-2">
      <input
        type="radio"
        id="modelo_completo"
        formControlName="modelo"
        value="Completo"
      />
      <label for="modelo_completo" class="font-medium text-base text-gray-700"
        >Completo</label
      >
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepThreeFormTwo.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
