<form
  (submit)="nextInsideStep.emit()"
  [formGroup]="stepOneFormOne"
  class="flex flex-col w-[1072px] mx-auto p-8 gap-y-6 bg-white border border-gray-200 rounded-2xl shadow-sm"
>
  <app-history-line [currentStep]="0" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200" />

  <h1 class="font-semibold text-lg text-gray-900">Dados iniciais</h1>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">Sigla do curso *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[152px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="sigla_tipo"
          required
        >
          <option value="">Selecione</option>
          <option value="ECO">ECO</option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[152px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="sigla_numero"
          required
        >
          <option value="">Selecione</option>
          <option value="1234">1234</option>
        </select>
      </div>
    </div>
    <div
      *ngIf="(stepOneFormOne.get('sigla_tipo')?.errors?.['required'] || stepOneFormOne.get('sigla_numero')?.errors?.['required']) && (stepOneFormOne.get('sigla_numero')?.touched && stepOneFormOne.get('sigla_tipo')?.touched)"
    >
      <p class="font-normal text-sm text-red-600">Informe a sigla do curso</p>
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Tipo de curso *</label>
    <div
      class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <select
        class="w-full text-gray-800 text-base outline-none"
        formControlName="tipo"
        required
      >
        <option value="">Selecione</option>
        <option value="Curso de extensão">Curso de extensão</option>
      </select>
    </div>
    <div
      *ngIf="stepOneFormOne.get('tipo')?.errors?.['required']  && stepOneFormOne.get('tipo')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe o tipo do curso</p>
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Nome do curso *</label>
    <div
      class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <input
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Preencha"
        formControlName="nome"
        required
      />
    </div>
    <div
      *ngIf="stepOneFormOne.get('nome')?.errors?.['required']  && stepOneFormOne.get('nome')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe o nome do curso</p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">
      Em caso de curso aberto ou de difusão, o oferecimento será de fluxo
      contínuo?
    </p>

    <div class="flex items-center gap-x-2">
      <input
        type="radio"
        id="fluxo_continuo_yes"
        formControlName="fluxo_continuo"
        [value]="true"
      />
      <label
        for="fluxo_continuo_yes"
        class="font-medium text-base text-gray-700"
        >Sim</label
      >
    </div>
    <div class="flex items-center gap-x-2">
      <input
        type="radio"
        id="fluxo_continuo_no"
        formControlName="fluxo_continuo"
        [value]="false"
      />
      <label for="fluxo_continuo_no" class="font-medium text-base text-gray-700"
        >Não</label
      >
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">
      Em caso de curso múltiplo, haverá disciplina eletiva?
    </p>

    <div class="flex items-center gap-x-2">
      <input
        type="radio"
        id="disciplina_eletiva_yes"
        formControlName="disciplina_eletiva"
        [value]="true"
      />
      <label
        for="disciplina_eletiva_yes"
        class="font-medium text-base text-gray-700"
        >Sim</label
      >
    </div>
    <div class="flex items-center gap-x-2">
      <input
        type="radio"
        id="disciplina_eletiva_no"
        formControlName="disciplina_eletiva"
        [value]="false"
      />
      <label
        for="disciplina_eletiva_no"
        class="font-medium text-base text-gray-700"
        >Não</label
      >
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Forma de realização *</label
    >
    <div
      class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <select
        class="w-full text-gray-800 text-base outline-none"
        formControlName="forma_realizacao"
      >
        <option value="">Selecione</option>
        <option value="Presencial">Presencial</option>
        <option value="Semipresencial">Semipresencial</option>
        <option value="EAD">EAD</option>
      </select>
    </div>
    <div
      *ngIf="stepOneFormOne.get('forma_realizacao')?.errors?.['required']  && stepOneFormOne.get('forma_realizacao')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a forma de realização do curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Plataforma de gestão dos alunos *</label
    >
    <div
      class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <select
        class="w-full text-gray-800 text-base outline-none"
        formControlName="plataforma"
      >
        <option value="">Selecione</option>
        <option value="Extecamp">Extecamp</option>
      </select>
    </div>
    <div
      *ngIf="stepOneFormOne.get('plataforma')?.errors?.['required']  && stepOneFormOne.get('plataforma')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a plataforma de gestão dos alunos do curso
      </p>
    </div>
  </div>

  <div class="flex flex-col w-[665px] gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Mensagem ao aluno em ambiente virtual de aprendizado</label
    >
    <div
      class="flex gap-2 w-full h-[163px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <textarea
        class="w-full h-full text-gray-800 text-base outline-none resize-none placeholder:text-gray-500"
        placeholder="Preencha"
        formControlName="mensagem"
      ></textarea>
    </div>
    <p class="font-normal text-sm text-gray-700">
      Preencha no caso de oferecimento contínuo e/ou quando o curso for
      oferecido em outros ambientes/plataformas
    </p>
  </div>

  <div class="flex flex-col gap-[6px] w-[665px]">
    <label class="font-medium text-sm text-gray-700"
      >Descrição ao aluno sobre o ambiente virtual de aprendizagem</label
    >
    <label class="font-normal text-sm text-gray-700"
      >Quando o curso for a distância, descrever no campo abaixo, como e em que
      ambientes virtuais de aprendizagem as aulas serão ministradas e, se houver
      aulas práticas, que tipo de atividades serão desenvolvidas. Especificar
      ainda os recursos de mídia previstos, bem como a forma e os critérios de
      avaliação do curso (Deliberação CEPE A-04/19). As informações deste campo
      serão disponibilizadas no material de divulgação do curso e são
      importantes para que o aluno possa avaliar suas condições de
      participação.</label
    >
    <div
      class="flex gap-2 px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <textarea
        class="w-full h-[129px] text-gray-800 text-base outline-none resize-none placeholder:text-gray-500"
        placeholder="Preencha"
        minlength="50"
        maxlength="10000"
        formControlName="descricao"
      ></textarea>
    </div>
    <p class="font-normal text-sm text-gray-700">
      Mínimo de 50 e máximo de 10000 caracteres
    </p>
    <div
      *ngIf="stepOneFormOne.get('descricao')?.errors?.['required']  && stepOneFormOne.get('descricao')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe uma descrição ao aluno sobre o ambiente virtual de aprendizagem
        do curso
      </p>
    </div>
    <div
      *ngIf="(stepOneFormOne.get('descricao')?.errors?.['minlength'] || stepOneFormOne.get('descricao')?.errors?.['maxlength']) && stepOneFormOne.get('descricao')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        A descrição ao aluno sobre o ambiente virtual de aprendizagem do curso
        deve conter no mínimo 50 caracteres e no máximo 10000
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Unidade *</label>
    <div
      class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <input
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Preencha"
        formControlName="unidade"
      />
    </div>
    <div
      *ngIf="stepOneFormOne.get('unidade')?.errors?.['required']  && stepOneFormOne.get('unidade')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe a unidade do curso</p>
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Departamento *</label>
    <div
      class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
    >
      <input
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Preencha"
        formControlName="departamento"
      />
    </div>
    <div
      *ngIf="stepOneFormOne.get('departamento')?.errors?.['required']  && stepOneFormOne.get('departamento')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o departamento do curso
      </p>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepOneFormOne.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
