<div
  class="flex items-end w-full rounded-2xl border border-gray-200 px-8 py-6 gap-x-5 bg-white shadow-sm"
>
  <div
    *ngFor="let step of steps"
    class="flex items-end border-t-2 w-full h-[62px]"
    [ngClass]="{
      'border-t-violet-700': currentStep === step.stepIndex,
      'border-t-gray-200': currentStep < step.stepIndex,
      'border-t-emerald-500': currentStep > step.stepIndex,
      'border-t-4': currentStep >= step.stepIndex,
    }"
  >
    <div class="flex flex-col gap-y-1 mt-4 h-[42px]">
      <div class="flex gap-x-2">
        <img
          src="../../../../assets/svgs/check-outiline-emerald.svg"
          [ngClass]="{
            'block': currentStep > step.stepIndex,
            'hidden': currentStep <= step.stepIndex,
          }"
          class="w-5 h-5"
        />
        <p
          [ngClass]="{
          'font-normal': currentStep !== step.stepIndex,
          'font-semibold': currentStep === step.stepIndex,
        }"
          class="flex flex-1 text-sm text-gray-700"
        >
          {{ step.title }}
        </p>
      </div>
      <div
        [ngClass]="{
          hidden: step.amountInsideSteps <= 1,
          flex: step.amountInsideSteps > 1
        }"
        class="flex-row gap-x-1"
      >
        <div
          *ngFor="
            let item of [].constructor(step.amountInsideSteps);
            let i = index
          "
          class="w-3 h-3 rounded-full border"
          [ngClass]="{
            'block': currentStep === step.stepIndex,
            'hidden': currentStep !== step.stepIndex,
            'bg-transparent': currentInsideStep < i,
            'border-gray-300': currentInsideStep < i,
            'bg-violet-700': currentInsideStep >= i,
            'border-violet-700': currentInsideStep >= i,
          }"
        ></div>
      </div>
    </div>
  </div>
</div>
