<form
  (submit)="handleAssignCoordination.emit()"
  [formGroup]="stepTwoFormOne"
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm"
>
  <app-history-line [currentStep]="0" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200" />

  <h1 class="font-semibold text-lg text-gray-900">Coordenação do curso</h1>

  <div class="relative flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Coordenador de extensão *</label
    >
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <img
        src="../../../../../../../../assets/svgs/search.svg"
        class="w-5 h-5"
      />
      <input
        class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Pesquisar"
        type="text"
        formControlName="coordenador"
        (focus)="unfocusInputs(); focusInputOne = true"
      />
    </div>
    <div
      *ngIf="stepTwoFormOne.get('coordenador_id')?.errors?.['required']  && stepTwoFormOne.get('coordenador')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o coordenador do curso
      </p>
    </div>
    <div
      class="absolute z-[1] top-[70px] left-0 w-[665px] border max-h-36 overflow-y-auto border-gray-300 shadow-sm rounded-lg overflow-hidden"
      *ngIf="focusInputOne"
    >
      <p
        *ngIf="!getFilteredProfessors('coordenador').length"
        class="w-full font-normal text-base text-gray-700 text-center bg-white px-3 py-2"
      >
        Sem resultados
      </p>
      <button
        class="w-full font-normal text-base text-gray-700 bg-white px-3 py-2 hover:bg-violet-600 hover:text-white"
        *ngFor="let professor of getFilteredProfessors('coordenador')"
        (click)="
          handleSelectProfessor(professor, 'coordenador', 'coordenador_id')
        "
        type="button"
      >
        {{ professor.nome }}
      </button>
    </div>
  </div>

  <div class="relative flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Diretor da unidade *</label
    >
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <img
        src="../../../../../../../../assets/svgs/search.svg"
        class="w-5 h-5"
      />
      <input
        class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Pesquisar"
        formControlName="diretor"
        (focus)="unfocusInputs(); focusInputTwo = true"
      />
    </div>
    <div
      *ngIf="stepTwoFormOne.get('diretor_id')?.errors?.['required']  && stepTwoFormOne.get('diretor')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o diretor da unidade
      </p>
    </div>
    <div
      class="absolute z-[1] top-[70px] left-0 w-[665px] border max-h-36 overflow-y-auto border-gray-300 shadow-sm rounded-lg overflow-hidden"
      *ngIf="focusInputTwo"
    >
      <p
        *ngIf="!getFilteredProfessors('diretor').length"
        class="w-full font-normal text-base text-gray-700 text-center bg-white px-3 py-2"
      >
        Sem resultados
      </p>
      <button
        class="w-full font-normal text-base text-gray-700 bg-white px-3 py-2 hover:bg-violet-600 hover:text-white"
        *ngFor="let professor of getFilteredProfessors('diretor')"
        (click)="handleSelectProfessor(professor, 'diretor', 'diretor_id')"
        type="button"
      >
        {{ professor.nome }}
      </button>
    </div>
  </div>

  <div class="relative flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Professor responsável *</label
    >
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <img
        src="../../../../../../../../assets/svgs/search.svg"
        class="w-5 h-5"
      />
      <input
        class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Pesquisar"
        formControlName="docente_responsavel"
        (focus)="unfocusInputs(); focusInputThree = true"
      />
    </div>
    <div
      *ngIf="stepTwoFormOne.get('docente_responsavel_id')?.errors?.['required']  && stepTwoFormOne.get('docente_responsavel')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o professor responsável pelo curso
      </p>
    </div>
    <div
      class="absolute z-[1] top-[70px] left-0 w-[665px] border max-h-36 overflow-y-auto border-gray-300 shadow-sm rounded-lg overflow-hidden"
      *ngIf="focusInputThree"
    >
      <p
        *ngIf="!getFilteredProfessors('docente_responsavel').length"
        class="w-full font-normal text-base text-gray-700 text-center bg-white px-3 py-2"
      >
        Sem resultados
      </p>
      <button
        class="w-full font-normal text-base text-gray-700 bg-white px-3 py-2 hover:bg-violet-600 hover:text-white"
        *ngFor="let professor of getFilteredProfessors('docente_responsavel')"
        (click)="
          handleSelectProfessor(
            professor,
            'docente_responsavel',
            'docente_responsavel_id'
          )
        "
        type="button"
      >
        {{ professor.nome }}
      </button>
    </div>
  </div>

  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">E-mail *</label>
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <img src="../../../../../../../../assets/svgs/mail.svg" class="w-5 h-5" />
      <input
        class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Preencha"
        type="email"
        formControlName="docente_responsavel_email"
      />
    </div>
    <div
      *ngIf="stepTwoFormOne.get('docente_responsavel_email')?.errors?.['required']  && stepTwoFormOne.get('docente_responsavel_email')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o e-mail do professor responsável pelo curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-[6px]">
    <label class="font-medium text-sm text-gray-700">Telefone *</label>
    <div
      class="flex items-center gap-2 w-[323px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <select class="font-medium text-base text-gray-800 outline-none">
        <option selected>BR</option>
      </select>
      <input
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="+55 (DDD) 00000-0000"
        formControlName="docente_responsavel_telefone"
        [inputMask]="phoneInputMask"
      />
    </div>
    <div
      *ngIf="stepTwoFormOne.get('docente_responsavel_telefone')?.errors?.['required']  && stepTwoFormOne.get('docente_responsavel_telefone')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe o telefone do professor responsável pelo curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <div class="flex gap-x-[18px]">
      <p class="w-[665px] font-medium text-sm text-gray-700">Instituição *</p>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Preencha"
          formControlName="docente_responsavel_instituicao"
        />
      </div>
    </div>
    <div
      *ngIf="stepTwoFormOne.get('docente_responsavel_instituicao')?.errors?.['required']  && stepTwoFormOne.get('docente_responsavel_instituicao')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a instituição do professor responsável pelo curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">Titulação *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="docente_responsavel_titulacao"
        >
          <option value="">Selecione</option>
          <option value="Assistente">Assistente</option>
          <option value="Associado">Associado</option>
          <option value="Titular">Titular</option>
          <option value="Emérito">Emérito</option>
          <option value="Visitante">Visitante</option>
          <option value="Adjunto">Adjunto</option>
          <option value="Mestre">Mestre</option>
          <option value="Doutor">Doutor</option>
          <option value="Pesquisador">Pesquisador</option>
          <option value="Catedrático">Catedrático</option>
          <option value="Convidado">Convidado</option>
          <option value="Honorário">Honorário</option>
        </select>
      </div>
    </div>
    <div
      *ngIf="stepTwoFormOne.get('docente_responsavel_titulacao')?.errors?.['required']  && stepTwoFormOne.get('docente_responsavel_titulacao')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a titulação do professor responsável pelo curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">Carga horária individual *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[152px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Horas"
          formControlName="docente_responsavel_carga_horaria_horas"
          [inputMask]="hourInputMask"
        />
      </div>
      <div
        class="flex gap-2 w-[152px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Minutos"
          formControlName="docente_responsavel_carga_horaria_minutos"
          [inputMask]="minuteInputMask"
        />
      </div>
    </div>
    <div
      *ngIf="(stepTwoFormOne.get('docente_responsavel_carga_horaria_horas')?.errors?.['required'] || stepTwoFormOne.get('docente_responsavel_carga_horaria_minutos')?.errors?.['required']) && (stepTwoFormOne.get('docente_responsavel_carga_horaria_horas')?.touched && stepTwoFormOne.get('docente_responsavel_carga_horaria_minutos')?.touched)"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a carga horária individual dos responsáveis pelo curso
      </p>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepTwoFormOne.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
