<form
  [formGroup]="stepTwoForm"
  class="flex flex-col p-8 gap-y-6 rounded-2xl bg-white border border-gray-200 shadow-sm"
>
  <h1 class="font-semibold text-lg text-black">Endereço</h1>

  <!-- CEP -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">CEP *</label>
    <div
      class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <div class="rounded-full bg-gray-300 w-4 h-4"></div>
      <input
        formControlName="cep"
        placeholder="00000-000"
        class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
      />
    </div>
  </div>

  <!-- Logradouro -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Logradouro *</label>
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <input
        formControlName="logradouro"
        placeholder="Preencha"
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
      />
    </div>
  </div>

  <!-- Número, bairro e complemento -->
  <div class="flex gap-x-[18px]">
    <!-- Número -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Número *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          formControlName="numero"
          placeholder="0000"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
    </div>

    <!-- Bairro -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Bairro *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          formControlName="bairro"
          placeholder="Preencha"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
    </div>

    <!-- Complemento -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Complemento *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          formControlName="complemento"
          placeholder="Casa 2"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
    </div>
  </div>

  <!-- Estado, cidade e país -->
  <div class="flex gap-x-[18px]">
    <!-- Estado -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Estado *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          formControlName="estado"
          class="w-full text-gray-800 text-base outline-none cursor-pointer"
          (change)="handleChangeState()"
        >
          <option value="" selected>Selecione</option>
          <option *ngFor="let state of states" [value]="state.state_code">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- Cidade -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Cidade *</label>
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          formControlName="cidade"
          class="w-full text-gray-800 text-base outline-none cursor-pointer"
        >
          <option value="" selected>Selecione</option>
          <option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </option>
        </select>
      </div>
    </div>

    <!-- País residência -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700"
        >País de residência *</label
      >
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          formControlName="pais"
          class="w-full text-gray-800 text-base outline-none cursor-pointer"
          (change)="handleChangeCountry()"
        >
          <option value="" selected>Selecione</option>
          <option
            *ngFor="let country of countries"
            [value]="country.translations['por'].common"
          >
            {{ country.translations["por"].common }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      (click)="backStep.emit()"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        (click)="nextStep.emit()"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
