<form
  class="flex flex-col p-8 gap-y-6 rounded-2xl bg-white border border-gray-200 shadow-sm"
  [formGroup]="stepTwoForm"
  (submit)="nextStep.emit()"
>
  <h1 class="font-semibold text-lg text-black">Endereço</h1>

  <!-- CEP -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">CEP *</label>
    <div
      class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <img
        src="../../../../../../../assets/svgs/marker-pin-01.svg"
        class="w-5 h-5"
      />
      <input
        formControlName="cep"
        placeholder="00000-000"
        [inputMask]="cepMask"
        (change)="handleChangeCep()"
        class="flex-1 w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
      />
    </div>
    <div
      *ngIf="stepTwoForm.get('cep')?.errors?.['required'] && stepTwoForm.get('cep')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe seu CEP</p>
    </div>
  </div>

  <!-- Logradouro -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Logradouro *</label>
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <input
        formControlName="logradouro"
        placeholder="Preencha"
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
      />
    </div>
    <div
      *ngIf="stepTwoForm.get('logradouro')?.errors?.['required'] && stepTwoForm.get('logradouro')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe o logradouro</p>
    </div>
  </div>

  <!-- Número, bairro e complemento -->
  <div class="flex gap-x-[18px]">
    <!-- Número -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Número *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          formControlName="numero"
          type="text"
          placeholder="0000"
          [inputMask]="numeric"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
      <div
        *ngIf="stepTwoForm.get('numero')?.errors?.['required'] && stepTwoForm.get('numero')?.touched"
      >
        <p class="font-normal text-sm text-red-600">
          Informe o número de sua residência
        </p>
      </div>
    </div>

    <!-- Bairro -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Bairro *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          formControlName="bairro"
          placeholder="Preencha"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
      <div
        *ngIf="stepTwoForm.get('bairro')?.errors?.['required'] && stepTwoForm.get('bairro')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe o bairro</p>
      </div>
    </div>

    <!-- Complemento -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Complemento *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          formControlName="complemento"
          placeholder="Casa 2"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
    </div>
  </div>

  <!-- País, estado e cidade -->
  <div class="flex gap-x-[18px]">
    <!-- País residência -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700"
        >País de residência *</label
      >
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          formControlName="pais"
          class="w-full text-gray-800 text-base outline-none cursor-pointer"
          (change)="handleChangeCountry()"
        >
          <option value="" selected>Selecione</option>
          <option
            *ngFor="let country of countries"
            [value]="country.translations['por'].common"
          >
            {{ country.translations["por"].common }}
          </option>
        </select>
      </div>
      <div
        *ngIf="stepTwoForm.get('pais')?.errors?.['required'] && stepTwoForm.get('pais')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe o país</p>
      </div>
    </div>

    <!-- Estado -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Estado *</label>
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          formControlName="estado"
          class="w-full text-gray-800 text-base outline-none cursor-pointer"
          (change)="handleChangeState()"
        >
          <option value="" selected>Selecione</option>
          <option *ngFor="let state of states" [value]="state.state_code">
            {{ state.name }}
          </option>
        </select>
      </div>
      <div
        *ngIf="stepTwoForm.get('estado')?.errors?.['required'] && stepTwoForm.get('estado')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe o estado</p>
      </div>
    </div>

    <!-- Cidade -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Cidade *</label>
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          formControlName="cidade"
          class="w-full text-gray-800 text-base outline-none cursor-pointer"
        >
          <option value="" selected>Selecione</option>
          <option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </option>
        </select>
      </div>
      <div
        *ngIf="stepTwoForm.get('cidade')?.errors?.['required'] && stepTwoForm.get('cidade')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe a cidade</p>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      (click)="backStep.emit()"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="handleOpenCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepTwoForm.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
