<div class="flex flex-col gap-y-8 w-[1072px] mx-auto">
  <section
    class="flex p-4 gap-x-6 rounded-xl bg-violet-50 border border-violet-300 shadow-sm"
  >
    <div
      class="relative w-5 h-5 rounded-full before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-[28px] before:h-[28px] before:rounded-full before:border-2 before:border-violet-600/30 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-[38px] after:h-[38px] after:rounded-full after:border-2 after:border-violet-600/10"
    >
      <img
        src="../../../../../../../../assets/svgs/info-circle.svg"
        class="w-5 h-5"
      />
    </div>
    <p class="flex-1 font-normal text-sm text-violet-600">
      Você está prestes a finalizar o oferecimento de um novo curso assine os
      formulários preenchidos <b>Dados do oferecimento</b> e
      <b>Custos do oferecimento</b>
      eletronicamente.
      <br /><br />
      Não se preocupe se não puder assinar os formulários preenchidos netes
      momento. Eles serão armazenados com segurança para que você possa
      acessá-los facilmente na seção 'Meus cursos'.
    </p>
  </section>
  <section
    class="flex flex-col p-8 gap-y-6 rounded-2xl bg-white border border-gray-200 shadow-sm"
  >
    <div class="w-[584px]">
      <div class="flex flex-1 items-center justify-between">
        <h1 class="font-semibold text-lg text-black">Assinar</h1>
        <p class="px-6 font-medium text-xs text-gray-600">Status</p>
      </div>
      <div class="flex flex-1 items-center justify-between py-4">
        <button
          type="button"
          class="flex items-center px-[14px] py-2 gap-2"
          (click)="openSignatureModal('offering')"
          [disabled]="course?.oferecimento?.assinatura_status === 'Assinado'"
        >
          <img
            src="../../../../../../../../assets/svgs/edit.svg"
            class="w-5 h-5"
          />
          <p class="font-semibold text-sm text-violet-700">
            Dados do oferecimento
          </p>
        </button>
        <div
          [ngClass]="{
            'bg-orange-100':
              course?.oferecimento?.assinatura_status === 'Pendente',
            'bg-emerald-100':
              course?.oferecimento?.assinatura_status === 'Assinado'
          }"
          class="h-fit px-2 py-0.5 rounded-2xl"
        >
          <p
            [ngClass]="{
              'text-orange-600':
                course?.oferecimento?.assinatura_status === 'Pendente',
              'text-emerald-600':
                course?.oferecimento?.assinatura_status === 'Assinado'
            }"
            class="font-medium text-xs"
          >
            {{ course?.oferecimento?.assinatura_status }}
          </p>
        </div>
      </div>
      <div class="flex flex-1 items-center justify-between py-4">
        <button
          type="button"
          class="flex items-center px-[14px] py-2 gap-2"
          (click)="openSignatureModal('cost')"
          [disabled]="
            course?.oferecimento?.custos_oferecimento?.assinatura_status ===
            'Assinado'
          "
        >
          <img
            src="../../../../../../../../assets/svgs/edit.svg"
            class="w-5 h-5"
          />
          <p class="font-semibold text-sm text-violet-700">
            Custos do oferecimento
          </p>
        </button>
        <div
          [ngClass]="{
            'bg-orange-100':
              course?.oferecimento?.custos_oferecimento?.assinatura_status ===
              'Pendente',
            'bg-emerald-100':
              course?.oferecimento?.custos_oferecimento?.assinatura_status ===
              'Assinado'
          }"
          class="h-fit px-2 py-0.5 rounded-2xl"
        >
          <p
            [ngClass]="{
              'text-orange-600':
                course?.oferecimento?.custos_oferecimento?.assinatura_status ===
                'Pendente',
              'text-emerald-600':
                course?.oferecimento?.custos_oferecimento?.assinatura_status ===
                'Assinado'
            }"
            class="font-medium text-xs"
          >
            {{ course?.oferecimento?.custos_oferecimento?.assinatura_status }}
          </p>
        </div>
      </div>
    </div>

    <hr class="h-[1px] bg-gray-200" />

    <div class="flex justify-between items-center">
      <button
        (click)="backStep.emit()"
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      >
        Voltar
      </button>
      <div class="flex gap-x-[15px]">
        <button
          class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
          (click)="openCancelModal.emit()"
        >
          Cancelar
        </button>
        <button
          class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
          (click)="openSubmitModal()"
        >
          Solicitar análise dos documentos
        </button>
      </div>
    </div>
  </section>
</div>

<div
  *ngIf="submitModalOpened"
  class="absolute flex items-center justify-center top-0 left-0 w-screen h-screen bg-black/50 z-50 backdrop-blur-sm"
>
  <div class="flex flex-col justify-between p-6 gap-y-8 bg-white rounded-2xl">
    <div class="flex justify-between">
      <h1 class="font-semibold text-lg text-gray-900">
        Confirmação de solicitação de análise de oferecimento
      </h1>
      <div class="flex items-center justify-center w-11 h-11">
        <button (click)="submitModalOpened = false" class="w-6 h-6">
          <img
            src="../../../../../../../../assets/svgs/x-close.svg"
            class="w-6 h-6"
          />
        </button>
      </div>
    </div>
    <div>
      <p class="font-normal text-sm text-gray-600">
        Antes de prosseguir, verifique as informações fornecidas:
      </p>
      <br />
      <ol class="list-decimal list-inside">
        <li class="font-normal text-sm text-gray-600">
          Dados inseridos nos formulários
        </li>
        <li class="font-normal text-sm text-gray-600">
          Assinatura eletrônica dos formulários
        </li>
      </ol>
      <br />
      <p class="font-normal text-sm text-gray-600">
        Confirme tudo antes de enviar. Revisaremos e forneceremos uma resposta
        em breve através da área ‘Meus Cursos’ e por e-mail.
      </p>
      <br />
      <p class="font-normal text-sm text-gray-600">
        Clique em 'Confirmar' para enviar ou 'Voltar' para revisar.
      </p>
    </div>
    <div class="flex items-center justify-end gap-x-4">
      <button
        (click)="submitModalOpened = false"
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      >
        Voltar
      </button>
      <button
        [routerLink]="['/professor', 'offerings']"
        class="px-4 py-[10px] rounded-lg bg-violet-600 font-semibold text-sm text-white"
        [disabled]="
          course?.oferecimento?.assinatura_status === 'Pendente' ||
          course?.oferecimento?.custos_oferecimento?.assinatura_status ===
            'Pendente'
        "
      >
        Confimar
      </button>
    </div>
  </div>
</div>

<div
  [ngClass]="{
    flex: signatureModalOpened,
    hidden: !signatureModalOpened
  }"
  class="absolute items-center justify-center top-0 left-0 w-screen h-screen bg-black/50 z-50 backdrop-blur-sm"
>
  <div
    class="flex flex-col gap-y-6 p-6 bg-white rounded-2xl w-[1000px] h-[630px]"
  >
    <div class="flex justify-between">
      <h1
        *ngIf="signatureType === 'offering'"
        class="font-semibold text-lg text-gray-900"
      >
        Assinatura de Dados do oferecimento
      </h1>
      <h1
        *ngIf="signatureType === 'cost'"
        class="font-semibold text-lg text-gray-900"
      >
        Assinatura de Custos do Oferecimento
      </h1>
      <div class="flex items-center justify-center w-11 h-11">
        <button (click)="closeSignatureModal()" class="w-6 h-6">
          <img
            src="../../../../../../../../assets/svgs/x-close.svg"
            class="w-6 h-6"
          />
        </button>
      </div>
    </div>
    <div
      class="relative w-full h-full rounded-2xl border border-gray-200 overflow-hidden"
    >
      <canvas
        #signatureCanvas
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDrawing()"
        (mouseout)="stopDrawing()"
      ></canvas>
      <div class="absolute bottom-6 gap-x-4 left-1/2 -translate-x-1/2 z-50">
        <button
          class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
          type="button"
          (click)="clearSignatureCanvas()"
        >
          Limpar
        </button>
        <button
          class="px-4 py-[10px] rounded-lg bg-violet-600 font-semibold text-sm text-white"
          type="button"
          (click)="handleSendSignature()"
        >
          Assinar
        </button>
      </div>
    </div>
  </div>
</div>
