<div
  class="grid grid-rows-[0_auto_1fr] grid-cols-[300px_1fr] h-screen max-[1420px]:grid-cols-[200px_1fr] max-[768px]:flex max-[768px]:flex-col"
>
  <app-sidebar
    [name]="student?.nome"
    [email]="student?.email"
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: ['/student']
      },
      {
        title: 'Meus dados'
      },
      {
        title: 'Meus cursos'
      }
    ]"
  ></app-sidebar>

  <div class="col-start-2 row-start-2 w-full">
    <app-header-navbar
      [routes]="['Cursos', 'Meus cursos', 'Ver todos os cursos', course?.nome]"
    ></app-header-navbar>
  </div>

  <div
    class="col-start-2 row-start-3 overflow-y-auto w-full px-8 bg-gray-50 overflow-x-hidden max-[768px]:px-0"
  >
    <div
      class="flex flex-col mx-auto gap-y-6 items-center w-[1072px] py-6 border-x border-gray-200 shadow-sm bg-white max-[768px]:w-full"
    >
      <!-- Descrição do curso -->
      <section
        class="flex w-[993px] p-4 gap-x-[31px] rounded-2xl border border-gray-200 shadow-sm max-[768px]:w-full"
      >
        <div class="flex flex-col flex-1 gap-y-8">
          <div class="flex flex-col gap-2">
            <h2 class="font-normal text-base text-black h-[40px] uppercase">
              {{ course?.tipo }}
            </h2>
            <h1 class="font-semibold text-2xl text-black uppercase">
              {{ course?.nome }}
            </h1>
          </div>
          <p class="font-normal text-base text-gray-600">
            {{ course?.objetivo }}
          </p>
          <p class="font-medium text-lg text-black uppercase">
            Inscrições de
            {{ formatDate(course?.oferecimento?.inscricao?.data_abertura) }}
            a
            {{ formatDate(course?.oferecimento?.inscricao?.data_encerramento) }}
          </p>
          <div
            class="flex justify-between items-center gap-4 max-[768px]:flex-col"
          >
            <div
              *ngIf="
                course?.oferecimento?.custos_oferecimento
                  ?.condicoes_custos_oferecimento?.curso_gratuito
              "
              class="flex flex-col gap-2"
            >
              <h1 class="font-semibold text-5xl">GRATUITO</h1>
            </div>
            <div
              *ngIf="
                !course?.oferecimento?.custos_oferecimento
                  ?.condicoes_custos_oferecimento?.curso_gratuito
              "
              class="flex flex-col gap-2"
            >
              <p
                *ngIf="courseValue.parcelas > 0"
                class="font-normal text-base text-black"
              >
                Em até {{ courseValue.parcelas }} parcelas de
              </p>
              <p
                *ngIf="courseValue.parcelas === 0"
                class="font-normal text-base text-black"
              >
                Valor à vista de
              </p>
              <h1 class="font-semibold text-5xl">{{ courseValue.valor }}*</h1>
              <div>
                <p class="font-normal text-sm text-black">
                  {{ courseValue.formaPagamento }}
                </p>
                <p class="font-normal text-sm text-black">
                  *Consulte as formas de pagamento
                </p>
              </div>
            </div>
            <button
              *ngIf="isAlreadySubscribed()"
              class="rounded-lg w-fit h-fit px-[18px] py-[10px] bg-violet-600 border border-violet-600 font-semibold text-base text-white shadow-sm"
              [routerLink]="['/student', 'courses', courseId, 'register']"
            >
              Inscreva-se
            </button>
          </div>
        </div>
        <div
          class="flex flex-1 rounded-2xl bg-gray-300 max-[768px]:hidden"
        ></div>
      </section>

      <!-- Cards informativos -->
      <section
        class="flex justify-between w-full px-8 max-[768px]:flex-col max-[768px]:gap-y-8"
      >
        <div class="flex flex-col gap-y-8">
          <div class="flex gap-5">
            <div class="flex items-center justify-center w-[66px] h-[66px]">
              <div
                class="flex items-center justify-center w-[56px] h-[56px] rounded-full bg-gray-100 border-[10px] border-gray-50"
              >
                <img
                  src="../../../../../assets/svgs/book-open.svg"
                  class="w-[28px] h-[28px]"
                />
              </div>
            </div>
            <div class="flex flex-col justify-center gap-2 w-[234px]">
              <p class="font-bold text-sm text-gray-700">Modalidade</p>
              <p class="font-normal text-sm text-gray-600">
                {{ course?.forma_realizacao }}
              </p>
            </div>
          </div>
          <div class="flex gap-5">
            <div class="flex items-center justify-center w-[66px] h-[66px]">
              <div
                class="flex items-center justify-center w-[56px] h-[56px] rounded-full bg-gray-100 border-[10px] border-gray-50"
              >
                <img
                  src="../../../../../assets/svgs/calendar-check.svg"
                  class="w-[28px] h-[28px]"
                />
              </div>
            </div>
            <div class="flex flex-col justify-center gap-2 w-[234px]">
              <p class="font-bold text-sm text-gray-700">Duração</p>
              <p class="font-normal text-sm text-gray-600">
                {{ getWeekAmountByHours() }} semanas
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-y-8">
          <div class="flex gap-5">
            <div class="flex items-center justify-center w-[66px] h-[66px]">
              <div
                class="flex items-center justify-center w-[56px] h-[56px] rounded-full bg-gray-100 border-[10px] border-gray-50"
              >
                <img
                  src="../../../../../assets/svgs/clock-stopwatch.svg"
                  class="w-[28px] h-[28px]"
                />
              </div>
            </div>
            <div class="flex flex-col justify-center gap-2 w-[234px]">
              <p class="font-bold text-sm text-gray-700">Carga horária</p>
              <p class="font-normal text-sm text-gray-600">
                {{ getCargaHoraria() }} horas
              </p>
            </div>
          </div>
          <div class="flex gap-5">
            <div class="flex items-center justify-center w-[66px] h-[66px]">
              <div
                class="flex items-center justify-center w-[56px] h-[56px] rounded-full bg-gray-100 border-[10px] border-gray-50"
              >
                <img
                  src="../../../../../assets/svgs/certificate.svg"
                  class="w-[28px] h-[28px]"
                />
              </div>
            </div>
            <div class="flex flex-col justify-center gap-2 w-[234px]">
              <p class="font-bold text-sm text-gray-700">Certificado</p>
              <p class="font-normal text-sm text-gray-600">
                Certificado de conclusão fornecido
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Accordions -->
      <section class="flex flex-col w-[912px] gap-8 max-[768px]:w-full">
        <app-accordion
          title="Ementa"
          content="{{ formatHTML(course?.ementa) }}"
        ></app-accordion>
        <app-accordion
          title="Professores"
          content="
            Professor(a) responsável: {{
            getProfessorName(course?.docente_responsavel?.id)
          }} <br /><br />
            Professor(es) do curso: {{ getProfessorsName() }}.
          "
        ></app-accordion>
        <app-accordion
          title="Dados do curso"
          content="
            Período de inscrições: {{
            formatDateDDMMAA(course?.oferecimento?.inscricao?.data_abertura)
          }} até {{
            formatDateDDMMAA(course?.oferecimento?.inscricao?.data_encerramento)
          }}. <br /><br />
            Período de oferecimento: {{
            formatDateDDMMAA(course?.oferecimento?.data_inicio)
          }} até {{
            formatDateDDMMAA(course?.oferecimento?.data_encerramento)
          }}. <br /><br />
            Local do curso: {{ course?.oferecimento?.local }} <br /><br />
            Horas Presenciais: {{ getPresencialHours() }} <br /><br />
            Horas a Distância: {{ getEadHours() }} <br /><br />
            Quantidade de alunos: Mínimo de {{
            course?.oferecimento?.min_vagas
          }} e máximo de {{
            course?.oferecimento?.max_vagas
          }} alunos matriculados. <br /><br />
            Tipo do curso: {{ course?.tipo }}. <br /><br />
            Certificação: Certificado.
          "
        ></app-accordion>
        <app-accordion
          title="Horários"
          content="
            {{ formatHTML(course?.oferecimento?.dias_semana_horarios) }}
          "
        ></app-accordion>
        <app-accordion
          title="Pré-requisitos"
          content="
            {{ course?.grau_escolaridade }}
          "
        ></app-accordion>
        <app-accordion
          title="Critérios de admissão"
          content="
            Entrega da documentação obrigatória e análise pelo órgão responsável.
          "
        ></app-accordion>
        <app-accordion
          title="Documentos necessários"
          content="
            Ficha de Inscrição e Termo de Compromisso assinado. <br /><br />
            Cópia do RG. <br /><br />
            Cópia do CPF. <br /><br />
            Cópia do comprovante do pré-requisito exigido (Certificado de Conclusão ou Diploma, frente e verso).
          "
        ></app-accordion>
        <app-accordion
          title="Para mais informações"
          content="
            EXTECAMP - Escola de Extensão da UNICAMP <br /><br />
            Beatriz ou Paulo <br /><br />
            E-mail: extecamp@extecamp.unicamp.br <br /><br />
            Telefone: (19)3521-4646/(19)3521-4647 <br /><br />
            Endereço: Rua Saturnino de Brito, nº 323, 2º andar. Cidade Universitária - Campinas - SP. <br /><br />
            Endereço para correspondência: Caixa Postal 6085 - Campinas-SPCEP: 13083-970 <br /><br />
            Atendimento: Segunda a sexta-feira, das 9h às 17h. <br /><br />
          "
        ></app-accordion>
      </section>
    </div>
  </div>
</div>
