<form
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm"
  [formGroup]="stepFourFormTwo"
  (submit)="nextInsideStep.emit()"
>
  <app-history-line [currentStep]="1" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex flex-col gap-y-2">
    <h1 class="font-semibold text-lg text-gray-900">Taxas</h1>
    <p class="font-normal text-base text-gray-600">
      Incidem sobre o custo total do curso
    </p>
  </div>

  <table class="w-[895px]">
    <tbody>
      <tr>
        <td
          class="w-[261px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <p class="font-semibold text-sm text-gray-500">Fixas</p>
        </td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <p class="font-normal text-sm text-gray-500">
            FAEPEX:0,6% - EXTECAMP: 2,4% - PIDS:8% - FUNCAMP: 6,5%
          </p>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="fixas"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td class="w-[261px] h-[130px] items-center px-6"></td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <div class="mb-4">
            <p class="font-normal text-sm text-gray-500">
              AIU da própria Unidade
            </p>
            <p class="font-normal text-sm text-gray-500">
              (Definida pelo Diretor da Unidade de no mínimo 3%) *
            </p>
          </div>
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">%</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="aiu_unidade_porcentagem"
              [inputMask]="percentageInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="aiu_unidade_valor"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td class="w-[261px] h-[130px] items-center px-6">
          <p class="font-semibold text-sm text-gray-500">Variáveis</p>
        </td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <div class="mb-4">
            <p class="font-normal text-sm text-gray-500">
              Fundo de Extensão da Unidade
            </p>
          </div>
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">%</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="fundo_extensao_porcentagem_away"
              [inputMask]="percentageInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="fundo_extensao_valor_away"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td
          class="w-[261px] h-[130px] items-center px-6 border-b border-gray-200"
        ></td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <div class="mb-4">
            <p class="font-normal text-sm text-gray-500">
              Fundo de Extensão da Unidade
            </p>
          </div>
          <div class="flex gap-x-4">
            <div
              class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
            >
              <select
                class="w-full text-gray-800 text-base outline-none"
                formControlName="fundo_extensao_unidade"
              >
                <option selected value="">Selecione</option>
                <option value="Unidade IE">Unidade IE</option>
              </select>
            </div>
            <div
              class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
            >
              <p class="font-normal text-base text-gray-500">%</p>
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                formControlName="fundo_extensao_porcentagem"
                [inputMask]="percentageInputMask"
                placeholder="0.00"
              />
            </div>
          </div>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="fundo_extensao_valor"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
      <tr class="bg-gray-50">
        <td
          class="w-[261px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <p class="font-semibold text-sm text-gray-500">
            Total de Taxas Fixas + Variáveis
          </p>
        </td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200"></td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg bg-white border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="total"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="w-[895px]">
    <tbody>
      <tr class="bg-yellow-200/30">
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <p class="font-semibold text-sm text-gray-500">
            Subsídios Gerados em Conformidade com a Portaria GR 086/1995
          </p>
          <p class="font-semibold text-sm text-gray-500">
            (Doação, Patrocínio, Captação de Apoio)
          </p>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg bg-white border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="subsidios"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="w-[895px]">
    <tbody>
      <tr>
        <td
          class="w-[261px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div>
            <p class="font-semibold text-sm text-gray-500 uppercase">
              Custo total
            </p>
            <p class="font-normal text-sm text-gray-500">
              (Custo Total do Curso + Total das Taxas Fixas e Variável)
            </p>
          </div>
        </td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="custo_total"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        ></td>
      </tr>
      <tr>
        <td
          class="w-[261px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div>
            <p class="font-semibold text-sm text-gray-500 uppercase">
              CUSTO POR ALUNO (b)
            </p>
            <p class="font-normal text-sm text-gray-500">(Custo Total)</p>
          </div>
        </td>
        <td class="h-[130px] items-center px-6 border-b border-gray-200">
          <div class="flex flex-col gap-y-2">
            <p class="font-normal text-sm text-gray-500">
              Número mínimo de vagas
            </p>
            <div
              class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
            >
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                formControlName="custo_aluno_min_vagas"
                [inputMask]="currencyInputMask"
                placeholder="0.00"
              />
            </div>
            <p class="font-normal text-xs text-gray-500">
              O "Custo por aluno" ficará R$ 0,00 caso a Fonte de Pagamento seja
              “Fechado com empresas”
            </p>
          </div>
        </td>
        <td
          class="w-[222px] h-[130px] items-center px-6 border-b border-gray-200"
        >
          <div
            class="flex items-center gap-2 w-[180px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
          >
            <p class="font-normal text-base text-gray-500">R$</p>
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              formControlName="custo_aluno_valor"
              [inputMask]="currencyInputMask"
              placeholder="0.00"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    *ngIf="!alertClosed"
    class="flex justify-between gap-x-4 w-[837px] p-4 rounded-xl bg-orange-50 border border-orange-300"
  >
    <div class="flex flex-1 gap-x-4">
      <img
        src="../../../../../../../../assets/svgs/alert-triangle.svg"
        class="w-5 h-5"
      />

      <div class="flex flex-1 flex-col gap-y-1">
        <p class="font-semibold text-sm text-orange-700">Atenção!</p>
        <p class="font-normal text-sm text-orange-700">
          <b>(a)</b> Conforme resolução GR 30/2008
        </p>
        <p class="font-normal text-sm text-orange-700">
          <b>(b)</b> Em cursos fechados com empresas (in company) não há
          necessidade de preencher esse campo Nº de Bolsas: De acordo com a
          resolução CONEX 01/94
        </p>
      </div>
    </div>

    <button class="w-5 h-5" type="button" (click)="alertClosed = true">
      <img
        src="../../../../../../../../assets/svgs/x-close-orange.svg"
        class="w-5 h-5"
      />
    </button>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
      (click)="backInsideStep.emit()"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
