<nav
  class="flex flex-row items-center justify-between border-b border-b-gray-200 px-8 py-4 bg-white h-full w-full z-10"
>
  <div class="flex flex-col gap-y-1" *ngIf="routes.length === 0">
    <h1 class="font-semibold text-2xl text-gray-900">{{ name }}</h1>
    <p class="font-normal text-base text-gray-600">{{ description }}</p>
  </div>
  <div class="flex items-center gap-x-3">
    <div
      class="flex items-center gap-x-3"
      *ngFor="let route of routes; let i = index"
    >
      <div
        [ngClass]="{
          hidden: i > 0,
          flex: i === 0
        }"
        class="w-4 h-4 bg-gray-300 rounded-sm"
      ></div>
      <div
        [ngClass]="{
          hidden: i > 0,
          flex: i === 0
        }"
        class="w-4 h-4 bg-gray-300 rounded-sm"
      ></div>
      <p
        [ngClass]="{
        'font-semibold  text-violet-700': i === routes.length - 1,
        'font-medium  text-gray-600': i !== routes.length - 1,
      }"
        class="text-sm"
      >
        {{ route }}
      </p>
      <div
        [ngClass]="{
          hidden: i === routes.length - 1,
          flex: i === routes.length - 1
        }"
        class="w-4 h-4 bg-gray-300 rounded-sm"
      ></div>
    </div>
  </div>
  <div class="flex gap-x-1">
    <button
      type="button"
      class="flex items-center justify-center rounded-lg w-10 h-10"
    >
      <img src="../../../../assets/svgs/search.svg" class="w-5 h-5" />
    </button>
    <button
      type="button"
      class="flex items-center justify-center rounded-lg w-10 h-10"
    >
      <img src="../../../../assets/svgs/bell.svg" class="w-5 h-5" />
    </button>
  </div>
</nav>
