<nav
  class="flex flex-row items-center justify-between border-b gap-1 border-b-gray-200 px-8 py-4 bg-white h-full w-full z-10 max-[768px]:w-screen max-[768px]:px-4 max-[768px]:flex-col-reverse"
>
  <div
    class="flex flex-col gap-y-1 overflow-hidden"
    *ngIf="routes.length === 0"
  >
    <h1 class="font-semibold text-2xl text-gray-900 truncate">
      Olá, {{ name }}
    </h1>
    <p class="font-normal text-base text-gray-600">{{ description }}</p>
  </div>
  <div class="flex items-center gap-x-3">
    <div
      [ngClass]="{
        'max-[768px]:flex': i === routes.length - 1,
        'max-[768px]:hidden': i < routes.length - 1
      }"
      class="flex items-center gap-x-3"
      *ngFor="let route of routes; let i = index"
    >
      <img
        src="../../../../assets/svgs/home-line.svg"
        [ngClass]="{
          hidden: i > 0,
          flex: i === 0
        }"
        class="w-5 h-5"
      />
      <img
        src="../../../../assets/svgs/chevron-right.svg"
        [ngClass]="{
          hidden: i > 0,
          flex: i === 0
        }"
        class="w-4 h-4"
      />
      <p
        [ngClass]="{
        'font-semibold  text-violet-700': i === routes.length - 1,
        'font-medium  text-gray-600': i !== routes.length - 1,
      }"
        class="text-sm"
      >
        {{ route }}
      </p>
      <img
        src="../../../../assets/svgs/chevron-right.svg"
        [ngClass]="{
          hidden: i === routes.length - 1,
          flex: i >= 0
        }"
        class="w-4 h-4"
      />
    </div>
  </div>
  <div class="flex gap-x-1 max-[768px]:w-full max-[768px]:justify-between">
    <div class="flex gap-1">
      <button
        type="button"
        class="flex items-center justify-center rounded-lg w-10 h-10"
      >
        <img src="../../../../assets/svgs/search.svg" class="w-5 h-5" />
      </button>
      <button
        type="button"
        class="flex items-center justify-center rounded-lg w-10 h-10"
      >
        <img src="../../../../assets/svgs/bell.svg" class="w-5 h-5" />
      </button>
    </div>
    <button
      type="button"
      class="hidden items-center justify-center rounded-lg w-10 h-10 max-[768px]:flex"
      [routerLink]="['']"
    >
      <img src="../../../../assets/svgs/log-out.svg" class="w-5 h-5" />
    </button>
  </div>
</nav>
