<form
  (submit)="nextInsideStep.emit()"
  [formGroup]="stepOneFormTwo"
  class="flex flex-col w-[1072px] mx-auto p-8 gap-y-6 bg-white border border-gray-200 rounded-2xl shadow-sm max-[768px]:px-4 max-[768px]:w-screen"
>
  <app-history-line [currentStep]="1" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200 max-[768px]:hidden" />

  <h1 class="font-semibold text-lg text-gray-900">Palavras-chave e áreas</h1>

  <div class="flex flex-col gap-[18px]" formArrayName="palavras_chave">
    <p class="font-medium text-sm text-gray-700">Palavras-chave *</p>

    <div class="flex gap-[18px] max-[768px]:flex-col">
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="0"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Saúde">Saúde</option>
          <option value="Marketing">Marketing</option>
          <option value="Gestão">Gestão</option>
          <option value="Sustentabilidade">Sustentabilidade</option>
          <option value="Design">Design</option>
          <option value="Programação">Programação</option>
          <option value="Finanças">Finanças</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Inovação">Inovação</option>
          <option value="Educação">Educação</option>
          <option value="Engenharia">Engenharia</option>
          <option value="Liderança">Liderança</option>
          <option value="Arte">Arte</option>
          <option value="Comunicação">Comunicação</option>
          <option value="Direito">Direito</option>
          <option value="Ciência de Dados">Ciência de Dados</option>
          <option value="Idiomas">Idiomas</option>
          <option value="Recursos Humanos">Recursos Humanos</option>
          <option value="Empreendedorismo">Empreendedorismo</option>
          <option value="Meio Ambiente">Meio Ambiente</option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="1"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Saúde">Saúde</option>
          <option value="Marketing">Marketing</option>
          <option value="Gestão">Gestão</option>
          <option value="Sustentabilidade">Sustentabilidade</option>
          <option value="Design">Design</option>
          <option value="Programação">Programação</option>
          <option value="Finanças">Finanças</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Inovação">Inovação</option>
          <option value="Educação">Educação</option>
          <option value="Engenharia">Engenharia</option>
          <option value="Liderança">Liderança</option>
          <option value="Arte">Arte</option>
          <option value="Comunicação">Comunicação</option>
          <option value="Direito">Direito</option>
          <option value="Ciência de Dados">Ciência de Dados</option>
          <option value="Idiomas">Idiomas</option>
          <option value="Recursos Humanos">Recursos Humanos</option>
          <option value="Empreendedorismo">Empreendedorismo</option>
          <option value="Meio Ambiente">Meio Ambiente</option>
        </select>
      </div>
    </div>

    <div class="flex gap-[18px] max-[768px]:flex-col">
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="2"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Saúde">Saúde</option>
          <option value="Marketing">Marketing</option>
          <option value="Gestão">Gestão</option>
          <option value="Sustentabilidade">Sustentabilidade</option>
          <option value="Design">Design</option>
          <option value="Programação">Programação</option>
          <option value="Finanças">Finanças</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Inovação">Inovação</option>
          <option value="Educação">Educação</option>
          <option value="Engenharia">Engenharia</option>
          <option value="Liderança">Liderança</option>
          <option value="Arte">Arte</option>
          <option value="Comunicação">Comunicação</option>
          <option value="Direito">Direito</option>
          <option value="Ciência de Dados">Ciência de Dados</option>
          <option value="Idiomas">Idiomas</option>
          <option value="Recursos Humanos">Recursos Humanos</option>
          <option value="Empreendedorismo">Empreendedorismo</option>
          <option value="Meio Ambiente">Meio Ambiente</option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="3"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Saúde">Saúde</option>
          <option value="Marketing">Marketing</option>
          <option value="Gestão">Gestão</option>
          <option value="Sustentabilidade">Sustentabilidade</option>
          <option value="Design">Design</option>
          <option value="Programação">Programação</option>
          <option value="Finanças">Finanças</option>
          <option value="Psicologia">Psicologia</option>
          <option value="Inovação">Inovação</option>
          <option value="Educação">Educação</option>
          <option value="Engenharia">Engenharia</option>
          <option value="Liderança">Liderança</option>
          <option value="Arte">Arte</option>
          <option value="Comunicação">Comunicação</option>
          <option value="Direito">Direito</option>
          <option value="Ciência de Dados">Ciência de Dados</option>
          <option value="Idiomas">Idiomas</option>
          <option value="Recursos Humanos">Recursos Humanos</option>
          <option value="Empreendedorismo">Empreendedorismo</option>
          <option value="Meio Ambiente">Meio Ambiente</option>
        </select>
      </div>
    </div>

    <div
      *ngIf="palavras_chave.controls[0].get('palavra_chave')?.errors?.['required']  && palavras_chave.controls[0].get('palavra_chave')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe ao menos uma palavra chave
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">Área geral *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="area_geral"
        >
          <option value="">Selecione</option>
          <option value="Negócios e Empreendedorismo">
            Negócios e Empreendedorismo
          </option>
          <option value="Ciências Sociais e Econômicas">
            Ciências Sociais e Econômicas
          </option>
          <option value="Ciência e Tecnologia">Ciência e Tecnologia</option>
          <option value="Inovação e Desenvolvimento">
            Inovação e Desenvolvimento
          </option>
          <option value="Gestão e Estratégia">Gestão e Estratégia</option>
          <option value="Finanças e Investimentos">
            Finanças e Investimentos
          </option>
          <option value="Marketing e Comunicação">
            Marketing e Comunicação
          </option>
          <option value="Saúde e Bem-Estar">Saúde e Bem-Estar</option>
          <option value="Meio Ambiente e Sustentabilidade">
            Meio Ambiente e Sustentabilidade
          </option>
          <option value="Educação e Aprendizado">Educação e Aprendizado</option>
          <option value="Artes e Design">Artes e Design</option>
          <option value="Engenharia e Tecnologia da Informação">
            Engenharia e Tecnologia da Informação
          </option>
          <option value="Direito e Regulação">Direito e Regulação</option>
          <option value="Psicologia e Comportamento">
            Psicologia e Comportamento
          </option>
          <option value="Idiomas e Comunicação Internacional">
            Idiomas e Comunicação Internacional
          </option>
        </select>
      </div>
    </div>

    <div
      *ngIf="stepOneFormTwo.get('area_geral')?.errors?.['required']  && stepOneFormTwo.get('area_geral')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a área geral do curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-[18px]" formArrayName="areas_tematicas">
    <p class="font-medium text-sm text-gray-700">Área temáticas *</p>

    <div class="flex gap-[18px] max-[768px]:flex-col">
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="0"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="area_tematica"
        >
          <option value="">Selecione</option>
          <option value="Desenvolvimento Web e Mobile">
            Desenvolvimento Web e Mobile
          </option>
          <option value="Inteligência Artificial e Aprendizado de Máquina">
            Inteligência Artificial e Aprendizado de Máquina
          </option>
          <option value="Ciência de Dados e Análise">
            Ciência de Dados e Análise
          </option>
          <option value="Segurança Cibernética">Segurança Cibernética</option>
          <option value="Blockchain e Criptomoedas">
            Blockchain e Criptomoedas
          </option>
          <option value="Design de Experiência do Usuário (UX)">
            Design de Experiência do Usuário (UX)
          </option>
          <option value="Marketing Digital e Mídias Sociais">
            Marketing Digital e Mídias Sociais
          </option>
          <option value="Gestão de Projetos">Gestão de Projetos</option>
          <option value="Finanças Corporativas e Mercados Financeiros">
            Finanças Corporativas e Mercados Financeiros
          </option>
          <option value="Economia Internacional e Globalização">
            Economia Internacional e Globalização
          </option>
          <option value="Empreendedorismo e Startups">
            Empreendedorismo e Startups
          </option>
          <option value="Gestão de Recursos Humanos">
            Gestão de Recursos Humanos
          </option>
          <option value="Gestão da Cadeia de Suprimentos e Logística">
            Gestão da Cadeia de Suprimentos e Logística
          </option>
          <option value="Energias Renováveis e Sustentabilidade Ambiental">
            Energias Renováveis e Sustentabilidade Ambiental
          </option>
          <option value="Psicologia Organizacional e do Trabalho">
            Psicologia Organizacional e do Trabalho
          </option>
          <option value="Comunicação e Relações Públicas">
            Comunicação e Relações Públicas
          </option>
          <option value="Direito Empresarial e Propriedade Intelectual">
            Direito Empresarial e Propriedade Intelectual
          </option>
          <option
            value="Linguagens de Programação e Desenvolvimento de Software"
          >
            Linguagens de Programação e Desenvolvimento de Software
          </option>
          <option value="Jogos Digitais e Entretenimento Interativo">
            Jogos Digitais e Entretenimento Interativo
          </option>
          <option value="Educação Online e Aprendizado Digital">
            Educação Online e Aprendizado Digital
          </option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="1"
      >
        <select
          class="w-full text-gray-800 text-base outline-none bg-white"
          formControlName="area_tematica"
        >
          <option value="">Selecione</option>
          <option value="Desenvolvimento Web e Mobile">
            Desenvolvimento Web e Mobile
          </option>
          <option value="Inteligência Artificial e Aprendizado de Máquina">
            Inteligência Artificial e Aprendizado de Máquina
          </option>
          <option value="Ciência de Dados e Análise">
            Ciência de Dados e Análise
          </option>
          <option value="Segurança Cibernética">Segurança Cibernética</option>
          <option value="Blockchain e Criptomoedas">
            Blockchain e Criptomoedas
          </option>
          <option value="Design de Experiência do Usuário (UX)">
            Design de Experiência do Usuário (UX)
          </option>
          <option value="Marketing Digital e Mídias Sociais">
            Marketing Digital e Mídias Sociais
          </option>
          <option value="Gestão de Projetos">Gestão de Projetos</option>
          <option value="Finanças Corporativas e Mercados Financeiros">
            Finanças Corporativas e Mercados Financeiros
          </option>
          <option value="Economia Internacional e Globalização">
            Economia Internacional e Globalização
          </option>
          <option value="Empreendedorismo e Startups">
            Empreendedorismo e Startups
          </option>
          <option value="Gestão de Recursos Humanos">
            Gestão de Recursos Humanos
          </option>
          <option value="Gestão da Cadeia de Suprimentos e Logística">
            Gestão da Cadeia de Suprimentos e Logística
          </option>
          <option value="Energias Renováveis e Sustentabilidade Ambiental">
            Energias Renováveis e Sustentabilidade Ambiental
          </option>
          <option value="Psicologia Organizacional e do Trabalho">
            Psicologia Organizacional e do Trabalho
          </option>
          <option value="Comunicação e Relações Públicas">
            Comunicação e Relações Públicas
          </option>
          <option value="Direito Empresarial e Propriedade Intelectual">
            Direito Empresarial e Propriedade Intelectual
          </option>
          <option
            value="Linguagens de Programação e Desenvolvimento de Software"
          >
            Linguagens de Programação e Desenvolvimento de Software
          </option>
          <option value="Jogos Digitais e Entretenimento Interativo">
            Jogos Digitais e Entretenimento Interativo
          </option>
          <option value="Educação Online e Aprendizado Digital">
            Educação Online e Aprendizado Digital
          </option>
        </select>
      </div>
    </div>

    <div
      *ngIf="areas_tematicas.controls[0].get('area_tematica')?.errors?.['required']  && areas_tematicas.controls[0].get('area_tematica')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe ao menos uma área temática
      </p>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepOneFormTwo.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
