<form
  (submit)="nextInsideStep.emit()"
  [formGroup]="stepOneFormTwo"
  class="flex flex-col w-[1072px] mx-auto p-8 gap-y-6 bg-white border border-gray-200 rounded-2xl shadow-sm"
>
  <app-history-line [currentStep]="1" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200" />

  <h1 class="font-semibold text-lg text-gray-900">Palavras-chave e áreas</h1>

  <div class="flex flex-col gap-y-2" formArrayName="palavras_chave">
    <p class="font-medium text-sm text-gray-700">Palavras-chave *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="0"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Economia">Economia</option>
          <option value="Tecnologia">Tecnologia</option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="1"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Economia">Economia</option>
          <option value="Tecnologia">Tecnologia</option>
        </select>
      </div>
    </div>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="2"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Economia">Economia</option>
          <option value="Tecnologia">Tecnologia</option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="3"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="palavra_chave"
        >
          <option value="">Selecione</option>
          <option value="Economia">Economia</option>
          <option value="Tecnologia">Tecnologia</option>
        </select>
      </div>
    </div>

    <div
      *ngIf="palavras_chave.controls[0].get('palavra_chave')?.errors?.['required']  && palavras_chave.controls[0].get('palavra_chave')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe ao menos uma palavra chave
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">Área geral *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="area_geral"
        >
          <option value="">Selecione</option>
          <option value="Economia">Economia</option>
          <option value="Tecnologia">Tecnologia</option>
        </select>
      </div>
    </div>

    <div
      *ngIf="stepOneFormTwo.get('area_geral')?.errors?.['required']  && stepOneFormTwo.get('area_geral')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe a área geral do curso
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-2" formArrayName="areas_tematicas">
    <p class="font-medium text-sm text-gray-700">Área temáticas *</p>

    <div class="flex gap-x-[18px]">
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="0"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="area_tematica"
        >
          <option value="">Selecione</option>
          <option value="Front-End">Front-End</option>
          <option value="Back-End">Back-End</option>
        </select>
      </div>
      <div
        class="flex gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
        [formGroupName]="1"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          formControlName="area_tematica"
        >
          <option value="">Selecione</option>
          <option value="Front-End">Front-End</option>
          <option value="Back-End">Back-End</option>
        </select>
      </div>
    </div>

    <div
      *ngIf="areas_tematicas.controls[0].get('area_tematica')?.errors?.['required']  && areas_tematicas.controls[0].get('area_tematica')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe ao menos uma área temática
      </p>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepOneFormTwo.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
