<app-navbar></app-navbar>

<!-- Jumbotron -->
<section class="mt-20">
  <div
    class="flex flex-row items-center justify-between w-[1280px] mx-auto px-8"
  >
    <div class="flex flex-col w-[625px] gap-y-12">
      <div class="flex flex-col gap-y-6">
        <p class="font-medium text-sm text-gray-500">
          Amplie seus horizontes. Adquira novos conhecimentos. Impulsione sua
          carreira.
        </p>
        <h1 class="font-semibold text-5xl text-gray-900 leading-[60px]">
          Descubra novas possibilidades de aprendizado com a Extecamp!
        </h1>
        <p class="font-normal text-xl text-gray-600">
          Explore nosso catálogo diversificado de cursos para enriquecer sua
          jornada acadêmica e profissional.
        </p>
      </div>
      <div>
        <button
          class="px-7 py-4 rounded-lg bg-gray-600 font-semibold text-lg text-neutral-50 shadow-sm"
          [routerLink]="['courses']"
        >
          Conheça os cursos disponíveis
        </button>
      </div>
    </div>
    <div class="flex flex-row items-center w-[512px] h-[640px]">
      <div class="bg-gray-300 w-full h-[430px]"></div>
    </div>
  </div>
</section>

<!-- Cursos em destaque -->
<section>
  <!-- Header cursos em destaque -->
  <div
    class="flex flex-col items-center justify-between w-[1280px] mx-auto py-24"
  >
    <div class="flex flex-col items-center gap-y-6 px-8">
      <div class="flex flex-col gap-y-3 items-center">
        <p class="font-medium text-sm text-gray-500 text-center">
          Desenvolva-se e amplie seu saber
        </p>
        <h1
          class="font-semibold text-4xl tracking-tighter text-gray-900 text-center leading-[60px]"
        >
          Explore nossos Cursos em Destaque
        </h1>
      </div>
      <p class="font-normal text-xl text-gray-600 text-center w-[768px]">
        Descubra oportunidades de aprendizado excepcionais para impulsionar sua
        jornada acadêmica e profissional
      </p>
    </div>
  </div>
  <!-- Cards cursos em destaque -->
  <div class="flex flex-col">
    <div class="flex flex-col w-[1280px] mx-auto gap-y-16 mb-24 px-8">
      <div class="flex flex-row justify-between gap-x-8">
        <div
          class="flex flex-col rounded-[32px] gap-y-16 p-4 w-full bg-gray-50"
        >
          <div class="h-[240px] w-full bg-gray-300 rounded-2xl"></div>
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p class="font-semibold text-sm text-gray-700">
                Inscrições 01 a 14 Jan 2024
              </p>
              <div>
                <h1 class="font-semibold text-2xl text-gray-900">
                  Título do Curso
                </h1>
              </div>
              <p class="font-regular text-base text-gray-600">
                Descrição do Curso: Adicione uma breve descrição do curso que
                destaque os principais benefícios, tópicos abordados ou
                habilidades adquiridas.
              </p>
            </div>
            <div class="flex flex-row gap-x-2">
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 1</p>
              </div>
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 2</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col rounded-[32px] gap-y-16 p-4 w-full bg-gray-50"
        >
          <div class="h-[240px] w-full bg-gray-300 rounded-2xl"></div>
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p class="font-semibold text-sm text-gray-700">
                Inscrições 01 a 14 Jan 2024
              </p>
              <div>
                <h1 class="font-semibold text-2xl text-gray-900">
                  Título do Curso
                </h1>
              </div>
              <p class="font-regular text-base text-gray-600">
                Descrição do Curso: Adicione uma breve descrição do curso que
                destaque os principais benefícios, tópicos abordados ou
                habilidades adquiridas.
              </p>
            </div>
            <div class="flex flex-row gap-x-2">
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 1</p>
              </div>
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 2</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col rounded-[32px] gap-y-16 p-4 w-full bg-gray-50"
        >
          <div class="h-[240px] w-full bg-gray-300 rounded-2xl"></div>
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p class="font-semibold text-sm text-gray-700">
                Inscrições 01 a 14 Jan 2024
              </p>
              <div>
                <h1 class="font-semibold text-2xl text-gray-900">
                  Título do Curso
                </h1>
              </div>
              <p class="font-regular text-base text-gray-600">
                Descrição do Curso: Adicione uma breve descrição do curso que
                destaque os principais benefícios, tópicos abordados ou
                habilidades adquiridas.
              </p>
            </div>
            <div class="flex flex-row gap-x-2">
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 1</p>
              </div>
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between gap-x-8">
        <div
          class="flex flex-col rounded-[32px] gap-y-16 p-4 w-full bg-gray-50"
        >
          <div class="h-[240px] w-full bg-gray-300 rounded-2xl"></div>
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p class="font-semibold text-sm text-gray-700">
                Inscrições 01 a 14 Jan 2024
              </p>
              <div>
                <h1 class="font-semibold text-2xl text-gray-900">
                  Título do Curso
                </h1>
              </div>
              <p class="font-regular text-base text-gray-600">
                Descrição do Curso: Adicione uma breve descrição do curso que
                destaque os principais benefícios, tópicos abordados ou
                habilidades adquiridas.
              </p>
            </div>
            <div class="flex flex-row gap-x-2">
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 1</p>
              </div>
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 2</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col rounded-[32px] gap-y-16 p-4 w-full bg-gray-50"
        >
          <div class="h-[240px] w-full bg-gray-300 rounded-2xl"></div>
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p class="font-semibold text-sm text-gray-700">
                Inscrições 01 a 14 Jan 2024
              </p>
              <div>
                <h1 class="font-semibold text-2xl text-gray-900">
                  Título do Curso
                </h1>
              </div>
              <p class="font-regular text-base text-gray-600">
                Descrição do Curso: Adicione uma breve descrição do curso que
                destaque os principais benefícios, tópicos abordados ou
                habilidades adquiridas.
              </p>
            </div>
            <div class="flex flex-row gap-x-2">
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 1</p>
              </div>
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 2</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col rounded-[32px] gap-y-16 p-4 w-full bg-gray-50"
        >
          <div class="h-[240px] w-full bg-gray-300 rounded-2xl"></div>
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2">
              <p class="font-semibold text-sm text-gray-700">
                Inscrições 01 a 14 Jan 2024
              </p>
              <div>
                <h1 class="font-semibold text-2xl text-gray-900">
                  Título do Curso
                </h1>
              </div>
              <p class="font-regular text-base text-gray-600">
                Descrição do Curso: Adicione uma breve descrição do curso que
                destaque os principais benefícios, tópicos abordados ou
                habilidades adquiridas.
              </p>
            </div>
            <div class="flex flex-row gap-x-2">
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 1</p>
              </div>
              <div
                class="px-[10px] py-0.5 border border-gray-200 bg-gray-50 rounded-2xl"
              >
                <p class="font-semibold text-sm text-gray-700">Área 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="font-semibold text-sm text-violet-700"
        [routerLink]="['courses']"
      >
        Ver todos os cursos
      </button>
    </div>
  </div>
</section>

<!-- Seu melhor e-mail -->
<section class="bg-gray-800 py-24">
  <div
    class="flex flex-row items-center justify-between w-[1280px] mx-auto px-8"
  >
    <div class="flex flex-col w-[666px] gap-y-5">
      <h1 class="font-semibold text-4xl tracking-tighter text-white">
        Fique por dentro das oportunidades educacionais da Extecamp
      </h1>
      <p class="font-normal text-xl text-gray-200">
        Inscreva-se em nossa newsletter e receba conteúdos exclusivos, novidades
        sobre cursos e eventos
      </p>
    </div>
    <div class="flex flex-col items-start gap-y-4">
      <div class="flex flex-col w-[360px] gap-y-[6px]">
        <input
          type="email"
          class="w-full px-[14px] py-3 rounded-lg text-gray-800 outline-none placeholder:text-gray-500 shadow-sm"
          placeholder="Seu melhor e-mail"
        />
        <p class="font-normal text-sm text-violet-200">
          Nós nos preocupamos com seus dados em nossa
          <a class="underline">política de privacidade</a>.
        </p>
      </div>
      <button
        class="font-semibold text-base text-white px-5 py-3 bg-gray-600 rounded-lg shadow-sm"
      >
        Receber novidades
      </button>
    </div>
  </div>
</section>

<!-- Sobre -->
<section class="flex flex-col py-24 gap-y-16">
  <div
    class="flex flex-col items-center justify-between w-[1280px] mx-auto px-8 gap-y-5"
  >
    <div class="flex flex-col gap-y-3 items-center">
      <p class="font-medium text-sm text-gray-500 text-center">
        Desenvolvendo Potenciais, Transformando Vidas
      </p>
      <h1
        class="font-semibold text-4xl tracking-tighter text-gray-900 text-center"
      >
        A Extecamp
      </h1>
    </div>
    <p class="font-normal text-xl text-gray-600 text-center w-[768px]">
      Mais de 25 anos de história, formando profissionais de destaque com
      excelência acadêmica.
    </p>
  </div>
  <div
    class="flex flex-col items-center justify-between w-[1280px] mx-auto px-8 gap-y-16"
  >
    <div class="flex flex-row justify-between gap-x-8">
      <div class="flex flex-col items-center gap-y-5 w-full">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-2">
          <h1 class="font-semibold text-xl text-gray-900 text-center">
            Experiência
          </h1>
          <p class="font-normal text-base text-gray-600 text-center">
            Com um legado de 25 anos auxiliando no desenvolvimento de cursos de
            extensão, a Extecamp oferece uma base sólida para aprimorar
            habilidades e adquirir novos conhecimentos.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center gap-y-5 w-full">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50 bg-"
        ></div>
        <div class="flex flex-col gap-y-2">
          <h1 class="font-semibold text-xl text-gray-900 text-center">
            Corpo Docente
          </h1>
          <p class="font-normal text-base text-gray-600 text-center">
            Nossos professores são especialistas em suas áreas de atuação, com
            uma reconhecida experiência acadêmica e profissional.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center gap-y-5 w-full">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-2">
          <h1 class="font-semibold text-xl text-gray-900 text-center">
            Estrutura
          </h1>
          <p class="font-normal text-base text-gray-600 text-center">
            Contamos com bibliotecas, laboratórios e todo o apoio necessário
            para proporcionar um ambiente de aprendizado de qualidade.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between gap-x-8">
      <div class="flex flex-col items-center gap-y-5 w-full">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-2">
          <h1 class="font-semibold text-xl text-gray-900 text-center">
            Variedade de Cursos
          </h1>
          <p class="font-normal text-base text-gray-600 text-center">
            Dispomos de uma ampla gama de cursos em todas as áreas do
            conhecimento, permitindo que os alunos encontrem exatamente o que
            procuram.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center gap-y-5 w-full">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-2">
          <h1 class="font-semibold text-xl text-gray-900 text-center">
            Banco de Talentos
          </h1>
          <p class="font-normal text-base text-gray-600 text-center">
            A Extecamp entende a importância da conexão entre a necessidade das
            empresas e o conhecimento adquirido pelos nossos alunos em nossos
            cursos.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center gap-y-5 w-full">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-2">
          <h1 class="font-semibold text-xl text-gray-900 text-center">
            Soluções Corporativas
          </h1>
          <p class="font-normal text-base text-gray-600 text-center">
            Oferecemos capacitação e atualização de funcionários, fornecendo
            ferramentas personalizadas para atender às necessidades específicas
            de cada empresa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testmonial -->
<section class="flex flex-col bg-gray-50 py-24 gap-y-16">
  <div
    class="flex flex-row items-center justify-between w-[1280px] mx-auto px-8 gap-x-16"
  >
    <div class="flex flex-1 flex-col gap-y-5">
      <div class="flex-flex-col gap-y-3">
        <p class="font-medium text-sm text-gray-500">
          Experiências de Sucesso na Extecamp
        </p>
        <h1
          class="font-semibold text-4xl tracking-tighter text-gray-900 leading-[60px]"
        >
          O Que Nossos Alunos e Professores Dizem
        </h1>
      </div>
      <p class="font-normal text-xl text-gray-600">
        Conheça as histórias inspiradoras de nossos alunos e professores e
        descubra como a Extecamp transformou suas jornadas acadêmicas e
        profissionais.
      </p>
    </div>
    <div class="flex w-[432px] h-[372px] bg-gray-300"></div>
  </div>
  <div class="flex flex-row w-[1280px] mx-auto px-8 gap-x-16 h-[328px]">
    <div class="flex flex-col gap-y-8 py-8 px-4 bg-white w-[375px] h-full">
      <div class="flex flex-col items-center gap-y-4">
        <div class="w-16 h-16 rounded-full bg-gray-300"></div>
        <div class="flex flex-col items-center gap-y-1">
          <h1 class="font-semibold text-lg text-gray-900">Marina Santos</h1>
          <p class="font-normal text-base text-gray-600">Gestão de Projetos</p>
        </div>
      </div>
      <div>
        <p class="font-medium text-base text-gray-900 text-center">
          A Extecamp me deu as habilidades necessárias para liderar projetos com
          sucesso. Recomendo!
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-y-8 py-8 px-4 bg-white w-[375px]">
      <div class="flex flex-col items-center gap-y-4">
        <div class="w-16 h-16 rounded-full bg-gray-300"></div>
        <div class="flex flex-col items-center gap-y-1">
          <h1 class="font-semibold text-lg text-gray-900">
            Prof. Carlos Mendes
          </h1>
          <p class="font-normal text-base text-gray-600">Economia</p>
        </div>
      </div>
      <div>
        <p class="font-medium text-base text-gray-900 text-center">
          A Extecamp é um ambiente acadêmico estimulante, onde posso
          compartilhar meu conhecimento e inspirar os alunos a alcançarem seus
          objetivos.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-y-8 py-8 px-4 bg-white w-[375px] h-full">
      <div class="flex flex-col items-center gap-y-4">
        <div class="w-16 h-16 rounded-full bg-gray-300"></div>
        <div class="flex flex-col items-center gap-y-1">
          <h1 class="font-semibold text-lg text-gray-900">Pedro Oliveira</h1>
          <p class="font-normal text-base text-gray-600">Programação Web</p>
        </div>
      </div>
      <div>
        <p class="font-medium text-base text-gray-900 text-center">
          A Extecamp me ajudou a dominar a programação web e abrir novas
          oportunidades profissionais."
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Banco de talentos -->
<section class="flex flex-col py-24 gap-y-16">
  <div class="flex flex-col items-center w-[1280px] mx-auto px-8 gap-y-5">
    <div class="flex flex-col gap-y-3">
      <p class="font-medium text-sm text-gray-500 text-center">
        Descubra profissionais qualificados para impulsionar o crescimento da
        sua empresa.
      </p>
      <h1
        class="font-semibold text-4xl tracking-tighter text-gray-900 text-center"
      >
        Banco de Talentos
      </h1>
    </div>
    <p class="font-normal text-xl text-gray-600 text-center w-[768px]">
      Criamos um sistema online, ágil e dinâmico para conectar empresas que
      buscam talentos qualificados. Nosso banco de talentos cruza as
      necessidades específicas do mercado de trabalho com o conhecimento
      adquirido por nossos alunos em cursos de extensão e especialização.
    </p>
    <button
      class="flex flex-row px-[14px] py-2 border border-gray-300 rounded-lg font-semibold text-sm text-gray-700 shadow-sm"
    >
      Saiba mais sobre o Banco de Talentos
    </button>
  </div>
  <div
    class="flex flex-col items-center w-[1216px] mx-auto gap-y-8 bg-gray-200 rounded-2xl p-16"
  >
    <p class="font-normal text-xl text-gray-800 text-center">
      Empresas que já buscaram profissionais no banco de talentos da Extecamp
    </p>
    <div class="flex flex-row justify-between w-full">
      <img src="../../../../../assets/bbc.png" height="32px" />
      <img src="../../../../../assets/deloitte.png" height="32px" />
      <img src="../../../../../assets/unilever.png" height="32px" />
      <img src="../../../../../assets/bbc.png" height="32px" />
      <img src="../../../../../assets/deloitte.png" height="32px" />
      <img src="../../../../../assets/unilever.png" height="32px" />
    </div>
  </div>
</section>

<!-- Notícias -->
<section class="flex flex-col py-24 gap-y-16 bg-gray-50">
  <div
    class="flex flex-row items-start justify-between w-[1280px] mx-auto px-8"
  >
    <div class="flex flex-col gap-y-5 w-[768px]">
      <div class="flex flex-col gap-y-3">
        <p class="font-medium text-sm text-gray-500">
          Esteja sempre atualizado com as últimas novidades da Extecamp
        </p>
        <h1 class="font-semibold text-4xl tracking-tighter text-gray-900">
          Notícias e Atualizações
        </h1>
      </div>
      <p class="font-normal text-xl text-gray-600">
        Nossa seção de notícias traz informações relevantes sobre eventos,
        lançamentos de cursos, parcerias e muito mais.
      </p>
    </div>
    <button
      class="rounded-lg px-5 py-3 bg-gray-600 shadow-sm font-normal text-base text-white"
    >
      Ver todas as notícias
    </button>
  </div>
  <div
    class="flex flex-col items-start justify-between w-[1280px] mx-auto px-8 gap-y-8"
  >
    <div class="flex flex-row gap-x-8">
      <div
        class="flex flex-col rounded-2xl pb-6 border border-gray-200 bg-white gap-y-8 w-[384px] overflow-hidden"
      >
        <div class="bg-gray-300 w-full h-[240px]"></div>
        <div class="flex flex-col items-start gap-y-6 px-6">
          <div class="flex flex-col w-full gap-y-2">
            <p class="font-semibold text-sm text-gray-700">
              PROEC • 25 Mai 2023
            </p>
            <h1 class="truncate font-semibold text-lg text-gray-900">
              Proec divulga classificação preliminar do edital de apoio para os
              Colégios Técnicos
            </h1>
            <p
              class="text-ellipsis font-normal text-sm text-gray-600 h-[72px] leading-6 overflow-hidden"
            >
              A divulgação final dos contemplados será na publicada no dia 7 de
              junho.
            </p>
          </div>
          <button class="font-semibold text-base text-gray-700">
            Ler notícia
          </button>
        </div>
      </div>
      <div
        class="flex flex-col rounded-2xl pb-6 border border-gray-200 bg-white gap-y-8 w-[384px] overflow-hidden"
      >
        <div class="bg-gray-300 w-full h-[240px]"></div>
        <div class="flex flex-col items-start gap-y-6 px-6">
          <div class="flex flex-col w-full gap-y-2">
            <p class="font-semibold text-sm text-gray-700">
              PROEC • 30 Mai 2023
            </p>
            <h1 class="truncate font-semibold text-lg text-gray-900">
              Audiência pública discute financiamento da Extensão Universitária
              na Comissão de Educação da Câmara
            </h1>
            <p
              class="text-ellipsis font-normal text-sm text-gray-600 h-[72px] leading-6 overflow-hidden"
            >
              Fernando Coelho, pró-reitor de Extensão e Cultura da Unicamp,
              sugere definição de orçamento e planejamento federal. Fernando
              Coelho, pró-reitor de Extensão e Cultura da Unicamp, sugere
              definição de orçamento e planejamento federal.
            </p>
          </div>
          <button class="font-semibold text-base text-gray-700">
            Ler notícia
          </button>
        </div>
      </div>
      <div
        class="flex flex-col rounded-2xl pb-6 border border-gray-200 bg-white gap-y-8 w-[384px] overflow-hidden"
      >
        <div class="bg-gray-300 w-full h-[240px]"></div>
        <div class="flex flex-col items-start gap-y-6 px-6">
          <div class="flex flex-col w-full gap-y-2">
            <p class="font-semibold text-sm text-gray-700">
              PROEC • 30 Mai 2023
            </p>
            <h1 class="truncate font-semibold text-lg text-gray-900">
              Primeiro Fórum Permanente da série dos 20 anos debate ciência
              aberta
            </h1>
            <p
              class="text-ellipsis font-normal text-sm text-gray-600 h-[72px] leading-6 overflow-hidde"
            >
              A intenção dos organizadores é abrir um espaço de diálogo
              constante sobre os desafios da ciência aberta
            </p>
          </div>
          <button class="font-semibold text-base text-gray-700">
            Ler notícia
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-x-8">
      <button
        class="flex items-center justify-center w-14 h-14 rounded-full border border-gray-200 shadow-sm"
      ></button>
      <button
        class="flex items-center justify-center w-14 h-14 rounded-full border border-gray-200 shadow-sm"
      ></button>
    </div>
  </div>
</section>

<section class="flex flex-col py-24 gap-y-16">
  <div
    class="flex flex-col items-start justify-between w-[1280px] mx-auto px-8 gap-y-8"
  >
    <div class="flex flex-col items-center w-[768px] mx-auto gap-y-5">
      <div class="flex flex-col items-center gap-y-3">
        <p class="font-medium text-sm text-gray-500 text-center">
          Texto chapeu
        </p>
        <h1
          class="font-semibold text-4xl tracking-tighter text-gray-900 text-center"
        >
          Área PROEC
        </h1>
        <h1
          class="font-semibold text-4xl tracking-tighter text-gray-900 text-center"
        >
          LOGO
        </h1>
      </div>
      <p class="font-normal text-xl text-gray-600 text-center">Texto corpo</p>
    </div>
  </div>
  <div
    class="flex flex-col items-center w-[1216px] mx-auto gap-y-8 bg-gray-200 rounded-2xl p-16"
  >
    <p class="font-normal text-xl text-gray-800">Logos dos orgãos do proec</p>
    <div class="flex items-center justify-between flex-wrap w-full">
      <div
        class="flex items-center justify-center w-[108px] h-[108px] bg-white rounded-full"
      >
        <p class="font-semibold text-base text-gray-800">LOGO</p>
      </div>
      <div
        class="flex items-center justify-center w-[108px] h-[108px] bg-white rounded-full"
      >
        <p class="font-semibold text-base text-gray-800">LOGO</p>
      </div>
      <div
        class="flex items-center justify-center w-[108px] h-[108px] bg-white rounded-full"
      >
        <p class="font-semibold text-base text-gray-800">LOGO</p>
      </div>
      <div
        class="flex items-center justify-center w-[108px] h-[108px] bg-white rounded-full"
      >
        <p class="font-semibold text-base text-gray-800">LOGO</p>
      </div>
      <div
        class="flex items-center justify-center w-[108px] h-[108px] bg-white rounded-full"
      >
        <p class="font-semibold text-base text-gray-800">LOGO</p>
      </div>
      <div
        class="flex items-center justify-center w-[108px] h-[108px] bg-white rounded-full"
      >
        <p class="font-semibold text-base text-gray-800">LOGO</p>
      </div>
    </div>
  </div>
</section>

<section class="flex flex-col py-24 gap-y-16">
  <div
    class="flex flex-row items-start justify-between w-[1280px] mx-auto px-8"
  >
    <div class="flex flex-col gap-y-5 w-[768px]">
      <div class="flex flex-col gap-y-3">
        <p class="font-medium text-sm text-gray-500">
          Fale conosco para obter suporte personalizado e esclarecer todas as
          suas dúvidas.
        </p>
        <h1 class="font-semibold text-4xl tracking-tighter text-gray-900">
          Entre em contato
        </h1>
      </div>
      <p class="font-normal text-xl text-gray-600">
        Estamos aqui para responder suas perguntas e fornecer informações
        adicionais sobre nossos serviços.muito mais.
      </p>
    </div>
  </div>
  <div
    class="flex flex-row items-start justify-between w-[1280px] h-[524px] mx-auto px-8"
  >
    <div class="flex flex-col gap-y-12">
      <div class="flex flex-row gap-x-4">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-5">
          <div class="flex flex-col mt-[10px] gap-y-2">
            <h1 class="font-semibold text-xl text-gray-900">Email</h1>
          </div>
          <div>
            <p class="font-semibold text-base text-gray-700">
              extecamp@extecamp.unicamp.br
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-x-4">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-5">
          <div class="flex flex-col mt-[10px] gap-y-2">
            <h1 class="font-semibold text-xl text-gray-900">Telefone</h1>
            <p class="font-normal text-base text-gray-600">
              Segunda a sexta das 09:00 às 18:00
            </p>
          </div>
          <div class="flex flex-col gap-y-2">
            <p class="font-semibold text-base text-gray-700">(19) 3521-4646</p>
            <p class="font-semibold text-base text-gray-700">(19) 3521-4646</p>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-x-4">
        <div
          class="w-14 h-14 bg-gray-100 rounded-[28px] border-[10px] border-gray-50"
        ></div>
        <div class="flex flex-col gap-y-5">
          <div class="flex flex-col mt-[10px] gap-y-2">
            <h1 class="font-semibold text-xl text-gray-900">Endereço</h1>
          </div>
          <div class="flex flex-col gap-y-1">
            <p class="font-normal text-base text-gray-700">
              Rua Saturnino de Brito, nº 323
            </p>
            <p class="font-normal text-base text-gray-700">
              2º andar, em frente do RS.
            </p>
            <p class="font-normal text-base text-gray-700">
              Cidade Universitária - Campinas - SP.
            </p>
            <p class="font-normal text-base text-gray-700">13083-889</p>
            <p class="font-normal text-base text-gray-700">UNICAMP</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col h-full">
      <iframe
        class="w-[598px] h-full"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.657903883625!2d-47.06267147970952!3d-22.815136610036912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c6b187b0becd%3A0x29691c805ec58e80!2sExtecamp%20-%20Escola%20de%20Extens%C3%A3o%20da%20Unicamp!5e0!3m2!1spt-BR!2sbr!4v1688653170071!5m2!1spt-BR!2sbr"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>

<section class="flex flex-col bg-gray-950">
  <div
    class="flex flex-row justify-between w-[1280px] mx-auto pt-16 pb-12 px-8"
  >
    <div class="flex flex-col gap-y-8 w-[320px]">
      <img src="../../../../../assets/extecamp_logo.png" class="w-[214px]" />
      <p class="font-normal text-base text-gray-200">Subtítulo</p>
    </div>
    <div class="flex flex-col gap-y-4 w-[160px]">
      <p class="font-semibold text-sm text-gray-200">Página</p>
      <div class="flex flex-col gap-y-3">
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
          <div
            class="px-2 py-0.5 rounded-2xl border border-gray-200 bg-gray bg-white/10"
          >
            <p class="font-medium text-xs text-gray-200">Novo</p>
          </div>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-4 w-[160px]">
      <p class="font-semibold text-sm text-gray-200">Página</p>
      <div class="flex flex-col gap-y-3">
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
          <div
            class="px-2 py-0.5 rounded-2xl border border-gray-200 bg-gray bg-white/10"
          >
            <p class="font-medium text-xs text-gray-200">Novo</p>
          </div>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-4 w-[160px]">
      <p class="font-semibold text-sm text-gray-200">Página</p>
      <div class="flex flex-col gap-y-3">
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
          <div
            class="px-2 py-0.5 rounded-2xl border border-gray-200 bg-gray bg-white/10"
          >
            <p class="font-medium text-xs text-gray-200">Novo</p>
          </div>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200">Link</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-4 w-[160px]">
      <p class="font-semibold text-sm text-gray-200">Órgãos</p>
      <div class="flex flex-col gap-y-3">
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200 whitespace-nowrap">
            Centro de convenções
          </p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200 whitespace-nowrap">
            Espaço cultural Casa do lago
          </p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200 whitespace-nowrap">
            CIS - Guanabara
          </p>
          <div
            class="px-2 py-0.5 rounded-2xl border border-gray-200 bg-gray bg-white/10"
          >
            <p class="font-medium text-xs text-gray-200">Novo</p>
          </div>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200 whitespace-nowrap">
            Ginásio Multidisplinar
          </p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200 whitespace-nowrap">
            Museu de Artes Visuais
          </p>
        </div>
        <div class="flex items-center flex-row gap-x-2">
          <p class="font-semibold text-base text-gray-200 whitespace-nowrap">
            Museu Exploratório de Ciências
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between w-[1280px] mx-auto py-12 px-8">
    <p class="font-normal text-base text-gray-300">
      © 2023 Extecamp. Todos os direitos reservados.
    </p>
    <div class="flex flex-row gap-x-6">
      <div class="w-6 h-6 bg-gray-400 rounded-lg"></div>
      <div class="w-6 h-6 bg-gray-400 rounded-lg"></div>
      <div class="w-6 h-6 bg-gray-400 rounded-lg"></div>
    </div>
  </div>
</section>
