<form
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm max-[768px]:w-full max-[768px]:px-4"
  [formGroup]="stepFourFormThree"
  (submit)="nextInsideStep.emit()"
>
  <app-history-line [currentStep]="2" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200 max-[768px]:hidden" />

  <h1 class="font-semibold text-lg text-gray-900">Formas de pagamento</h1>

  <!-- Tipo de pagamento -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Tipo de pagamento *</label>
    <div
      class="flex items-center gap-2 w-[408px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
    >
      <select
        class="w-full text-gray-800 text-base outline-none bg-white"
        formControlName="tipo"
      >
        <option selected value="">Selecione</option>
        <option value="dinheiro">Dinheiro em espécie</option>
        <option value="debito">Cartão de débito</option>
        <option value="credito">Cartão de crédito</option>
        <option value="transferencia">Transferência bancária</option>
        <option value="paypal">PayPal</option>
        <option value="applepay">Apple Pay</option>
        <option value="googlepay">Google Pay</option>
        <option value="samsungpay">Samsung Pay</option>
        <option value="aproximacao">Pagamento por aproximação (NFC)</option>
        <option value="cheque">Cheque</option>
        <option value="vale-refeicao">Vale-refeição</option>
        <option value="vale-alimentacao">Vale-alimentação</option>
        <option value="vale-cultura">Vale-cultura</option>
        <option value="vale-presente">Vale-presente</option>
        <option value="boleto">Boleto bancário</option>
        <option value="pix">PIX</option>
        <option value="mercadopago">Mercado Pago</option>
        <option value="picpay">PicPay</option>
        <option value="pagseguro">PagSeguro</option>
        <option value="transferencia-app">
          Transferência por aplicativos bancários
        </option>
      </select>
    </div>
  </div>

  <!-- Fonte do pagamento -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Fonte do pagamento *</label
    >
    <div
      class="flex items-center gap-2 w-[408px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
    >
      <select
        class="w-full text-gray-800 text-base outline-none bg-white"
        formControlName="fonte"
      >
        <option selected value="">Selecione</option>
        <option value="mensalidades">Mensalidades dos alunos</option>
        <option value="bolsas">Bolsas de estudo</option>
        <option value="financiamento">Financiamento estudantil</option>
        <option value="patrocinios">
          Patrocínios e parcerias com empresas
        </option>
        <option value="subsidios">
          Subsídios governamentais para pesquisa ou projetos específicos
        </option>
        <option value="consultoria">
          Contratos de consultoria ou prestação de serviços para a comunidade
          externa
        </option>
        <option value="doacoes">
          Investimentos e doações de ex-alunos ou entidades filantrópicas
        </option>
        <option value="intercambio">
          Programas de intercâmbio e intercâmbio de alunos
        </option>
        <option value="eventos">
          Receitas de eventos e conferências organizados pela universidade
        </option>
        <option value="licenciados">
          Venda de produtos licenciados relacionados à universidade
        </option>
        <option value="publicacoes">
          Publicações acadêmicas e venda de livros didáticos
        </option>
        <option value="parcerias">
          Parcerias com instituições de pesquisa e desenvolvimento
        </option>
        <option value="extensao">
          Programas de educação continuada e cursos de extensão
        </option>
        <option value="aluguel">
          Aluguel de espaços e instalações universitárias
        </option>
        <option value="treinamento">
          Programas de treinamento e capacitação oferecidos a empresas e
          profissionais
        </option>
      </select>
    </div>
  </div>

  <!-- Taxa inscrição -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Taxa de inscrição de Curso Fechado/In Company</label
    >
    <div
      class="flex items-center gap-2 px-3 py-2 w-[408px] rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
    >
      <p class="font-normal text-base text-gray-500">R$</p>
      <input
        class="text-gray-800 text-base outline-none placeholder:text-gray-500"
        formControlName="taxa_inscricao"
        [inputMask]="currencyInputMask"
        placeholder="0.00"
      />
    </div>
    <p class="flex-1 font-normal text-sm text-gray-600">
      A taxa de inscrição terá dois valores, sendo R$ 20,00 para cursos até 180h
      e R$ 60,00 para cursos a partir de 180h, o calculo da taxa será sobre o
      número máximo de alunos do curso.
    </p>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
      (click)="backInsideStep.emit()"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
        [disabled]="!stepFourFormThree.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
