<form
  (submit)="handleCreateOffering.emit()"
  [formGroup]="stepThreeFormFour"
  class="flex flex-col gap-y-6 w-[1072px] mx-auto p-8 bg-white border border-gray-200 rounded-2xl shadow-sm max-[1024px]:w-full max-[768px]:w-full max-[768px]:px-4"
>
  <app-history-line [currentStep]="3" [steps]="historySteps"></app-history-line>

  <hr class="h-[1px] bg-gray-200 max-[1024px]:hidden" />

  <h1 class="font-semibold text-lg text-gray-900">Critérios de admissão</h1>

  <div class="flex flex-col gap-y-2">
    <p class="font-medium text-sm text-gray-700">
      Haverá critérios de admissão?
    </p>

    <div class="flex items-center gap-x-2">
      <input type="radio" id="tem_criterios_yes" disabled />
      <label class="font-medium text-base text-gray-700">Sim</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="radio" id="tem_criterios_no" checked disabled />
      <label class="font-medium text-base text-gray-700">Não</label>
    </div>
  </div>

  <div class="grid divide-y divide-gray-200 border-y border-y-gray-200">
    <app-accordion
      [isBlocked]="true"
      [noBorder]="true"
      [title]="'Parâmetros dos critérios'"
    ></app-accordion>
    <app-accordion
      [isBlocked]="true"
      [noBorder]="true"
      [title]="'Documentos extras opcionais'"
    ></app-accordion>
    <app-accordion
      [isBlocked]="true"
      [noBorder]="true"
      [title]="'Curso em parceria'"
    ></app-accordion>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      (click)="backInsideStep.emit()"
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="openCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        type="submit"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
