<div class="grid grid-rows-[0px_auto_1fr] grid-cols-[300px_1fr] h-screen">
  <app-sidebar
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: '/professor/home'
      },
      {
        title: 'Oferecimentos',
        routerLink: '/professor/offering'
      }
    ]"
  ></app-sidebar>

  <div
    class="flex col-start-2 row-start-2 flex-row items-center justify-between border-b border-b-gray-200 px-8 py-4 h-[72px] w-full"
  >
    <p></p>
  </div>

  <div
    class="col-start-2 row-start-3 overflow-y-auto w-full px-8 py-6 bg-gray-50"
    id="form-section"
  >
    <h1 class="font-semibold text-lg text-gray-900">Novo oferecimento</h1>

    <section class="w-[1072px] mx-auto my-6">
      <app-steps
        [currentStep]="current_step"
        [currentInsideStep]="current_inside_step"
        [props]="{
          steps: [
            {
              title: 'Dados do curso',
              step_index: 0,
              amount_inside_steps: 5
            },
            {
              title: 'Professores',
              step_index: 1,
              amount_inside_steps: 6
            },
            {
              title: 'Dados do oferecimento',
              step_index: 2,
              amount_inside_steps: 4
            },
            {
              title: 'Custos do oferecimento',
              step_index: 3,
              amount_inside_steps: 4
            },
            {
              title: 'Envio do oferecimento',
              step_index: 4,
              amount_inside_steps: 1
            }
          ]
        }"
      ></app-steps>
    </section>

    <section>
      <div *ngIf="current_step === 0">
        <app-step-one-form-one
          *ngIf="current_inside_step === 0"
          [course]="course"
          (nextInsideStep)="nextInsideStep()"
        ></app-step-one-form-one>

        <app-step-one-form-two
          *ngIf="current_inside_step === 1"
          [course]="course"
          (backInsideStep)="backInsideStep()"
          (nextInsideStep)="nextInsideStep()"
        ></app-step-one-form-two>

        <app-step-one-form-three
          *ngIf="current_inside_step === 2"
          [course]="course"
          (backInsideStep)="backInsideStep()"
          (nextInsideStep)="nextInsideStep()"
        ></app-step-one-form-three>

        <app-step-one-form-four
          *ngIf="current_inside_step === 3"
          [course]="course"
          (backInsideStep)="backInsideStep()"
          (nextInsideStep)="nextInsideStep()"
        ></app-step-one-form-four>

        <app-step-one-form-five
          *ngIf="current_inside_step === 4"
          [course]="course"
          (backInsideStep)="backInsideStep()"
          (nextStep)="nextStep()"
        ></app-step-one-form-five>
      </div>

      <div *ngIf="current_step === 1">
        <app-step-two-form-one
          *ngIf="current_inside_step === 0"
          [course]="course"
          (backStep)="backStep(4)"
          (nextInsideStep)="nextInsideStep()"
        ></app-step-two-form-one>

        <app-step-two-form-two
          *ngIf="current_inside_step === 1"
          [course]="course"
          (backInsideStep)="backInsideStep()"
          (nextInsideStep)="nextInsideStep()"
        ></app-step-two-form-two>
      </div>

      <div *ngIf="current_step === 3">
        <app-step-four-form-one
          *ngIf="current_inside_step === 0"
          [course]="course"
        ></app-step-four-form-one>
      </div>

      <div *ngIf="current_step === 4">
        <app-step-five-form-one></app-step-five-form-one>
      </div>
    </section>
  </div>
</div>
