<div class="grid grid-rows-[108px_1fr] grid-cols-[300px_1fr] h-screen">
  <app-sidebar
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: '/professor'
      },
      {
        title: 'Oferecimentos',
        routerLink: '/professor/offering'
      }
    ]"
  ></app-sidebar>

  <app-header-navbar
    [props]="{
      name: 'Larissa',
      description: 'Bem vinda a sua área do docente EXTECAMP'
    }"
  ></app-header-navbar>

  <div class="col-start-2 overflow-y-auto w-full px-8 py-6 bg-gray-50">
    <h1 class="font-semibold text-lg text-gray-900">Visão geral</h1>
    <div class="flex flex-row gap-x-[22px] py-6 w-[1072px] mx-auto">
      <div
        class="flex flex-col w-full bg-white rounded-xl border border-gray-200"
      >
        <div class="flex flex-col gap-y-2 border-b border-b-gray-200 p-6">
          <p class="font-medium text-sm text-gray-600">Proposto</p>
          <div class="flex flex-row items-center justify-between">
            <h1 class="font-semibold text-4xl text-gray-900">1</h1>
            <button
              class="flex items-center justify-center rounded-[6px] w-6 h-6 border border-gray-300 shadow-sm"
            >
              <img src="../../../../../assets/svgs/plus.svg" class="w-3 h-3" />
            </button>
          </div>
        </div>
        <div class="flex flex-row p-6 justify-end">
          <button class="font-semibold text-sm text-violet-700">
            Ver todos
          </button>
        </div>
      </div>
      <div
        class="flex flex-col w-full bg-white rounded-xl border border-gray-200"
      >
        <div class="flex flex-col gap-y-2 border-b border-b-gray-200 p-6">
          <p class="font-medium text-sm text-gray-600">Andamento</p>
          <div class="flex flex-row items-center justify-between">
            <h1 class="font-semibold text-4xl text-gray-900">2</h1>
            <button
              class="flex items-center justify-center rounded-[6px] w-6 h-6 border border-gray-300 shadow-sm"
            >
              <img src="../../../../../assets/svgs/plus.svg" class="w-3 h-3" />
            </button>
          </div>
        </div>
        <div class="flex flex-row p-6 justify-end">
          <button class="font-semibold text-sm text-violet-700">
            Ver todos
          </button>
        </div>
      </div>
      <div
        class="flex flex-col w-full bg-white rounded-xl border border-gray-200"
      >
        <div class="flex flex-col gap-y-2 border-b border-b-gray-200 p-6">
          <p class="font-medium text-sm text-gray-600">Terminados</p>
          <div class="flex flex-row items-center justify-between">
            <h1 class="font-semibold text-4xl text-gray-900">0</h1>
            <button
              class="flex items-center justify-center rounded-[6px] w-6 h-6 border border-gray-300 shadow-sm"
            >
              <img src="../../../../../assets/svgs/plus.svg" class="w-3 h-3" />
            </button>
          </div>
        </div>
        <div class="flex flex-row p-6 justify-end">
          <button class="font-semibold text-sm text-violet-700">
            Ver todos
          </button>
        </div>
      </div>
      <div
        class="flex flex-col w-full bg-white rounded-xl border border-gray-200"
      >
        <div class="flex flex-col gap-y-2 border-b border-b-gray-200 p-6">
          <p class="font-medium text-sm text-gray-600">Com pendência</p>
          <div class="flex flex-row items-center justify-between">
            <h1 class="font-semibold text-4xl text-gray-900">0</h1>
            <button
              class="flex items-center justify-center rounded-[6px] w-6 h-6 border border-gray-300 shadow-sm"
            >
              <img src="../../../../../assets/svgs/plus.svg" class="w-3 h-3" />
            </button>
          </div>
        </div>
        <div class="flex flex-row p-6 justify-end">
          <button class="font-semibold text-sm text-violet-700">
            Ver todos
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between py-6 w-[1072px] mx-auto">
      <h1 class="font-semibold text-lg text-gray-900">Cursos em andamento</h1>
      <div class="flex flex-row gap-x-2">
        <button
          class="flex gap-x-2 items-center rounded-lg px-[14px] py-2 border bg-white border-gray-300 shadow-sm font-semibold text-sm text-gray-700"
        >
          <img
            src="../../../../../assets/svgs/filter-lines.svg"
            class="w-5 h-5"
          />
          Filtros
        </button>
        <button
          [routerLink]="['/professor', 'offerings', 'new']"
          class="rounded-lg px-[14px] py-2 border bg-violet-600 border-violet-600 shadow-sm font-semibold text-sm text-white"
        >
          Novo oferecimento
        </button>
      </div>
    </div>
    <table class="rounded-2xl overflow-hidden mb-6 w-[1072px] mx-auto">
      <thead class="border-b border-b-gray-200">
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Sigla
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Oferecimento
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Nome do curso
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Tipo de curso
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Situação
        </th>
        <th
          class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700"
        ></th>
      </thead>
      <tbody>
        <tr>
          <td
            class="p-3 bg-white text-left font-medium text-sm text-gray-900 border-b border-b-gray-200"
          >
            ECO-0290
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[121px]"
          >
            001
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[272px]"
          >
            PRÁTICAS INOVADORAS EM GESTÃO PÚBLICA
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200"
          >
            <div
              class="flex flex-row items-center gap-x-[6px] rounded-2xl bg-emerald-50 pl-[6px] pr-2 py-0.5 w-fit"
            >
              <div class="w-[6px] h-[6px] rounded-full bg-emerald-500"></div>
              <p class="font-medium text-xs text-emerald-800">
                Cursos múltiplos
              </p>
            </div>
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200"
          >
            ANDAMENTO
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[72px]"
          >
            <button class="flex items-center justify-center">
              <img src="../../../../../assets/svgs/more.svg" class="w-4 h-4" />
            </button>
          </td>
        </tr>
        <tr>
          <td
            class="p-3 bg-white text-left font-medium text-sm text-gray-900 border-b border-b-gray-200"
          >
            ECO-0290
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[121px]"
          >
            002
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[272px]"
          >
            ECONOMIA BRASILEIRA CONTEMPORÂNEA
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200"
          >
            <div
              class="flex flex-row items-center gap-x-[6px] rounded-2xl bg-sky-50 pl-[6px] pr-2 py-0.5 w-fit"
            >
              <div class="w-[6px] h-[6px] rounded-full bg-sky-500"></div>
              <p class="font-medium text-xs text-sky-800">
                Cursos simples/disciplina
              </p>
            </div>
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200"
          >
            ANDAMENTO
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[72px]"
          >
            <button class="flex items-center justify-center">
              <img src="../../../../../assets/svgs/more.svg" class="w-4 h-4" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex flex-row justify-between py-6 w-[1072px] mx-auto">
      <h1 class="font-semibold text-lg text-gray-900">Cursos propostos</h1>
      <div class="flex flex-row gap-x-2">
        <button
          class="flex gap-x-2 items-center rounded-lg px-[14px] py-2 border bg-white border-gray-300 shadow-sm font-semibold text-sm text-gray-700"
        >
          <img
            src="../../../../../assets/svgs/filter-lines.svg"
            class="w-5 h-5"
          />
          Filtros
        </button>
      </div>
    </div>
    <table class="rounded-2xl overflow-hidden mb-6 w-[1072px] mx-auto">
      <thead class="border-b border-b-gray-200">
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Sigla
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Oferecimento
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Nome do curso
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Tipo de curso
        </th>
        <th class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700">
          Situação
        </th>
        <th
          class="p-3 bg-gray-100 text-left font-medium text-xs text-gray-700"
        ></th>
      </thead>
      <tbody>
        <tr>
          <td
            class="p-3 bg-white text-left font-medium text-sm text-gray-900 border-b border-b-gray-200"
          >
            ECO-0290
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[121px]"
          >
            002
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[272px]"
          >
            ECONOMIA BRASILEIRA CONTEMPORÂNEA
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200"
          >
            <div
              class="flex flex-row items-center gap-x-[6px] rounded-2xl bg-sky-50 pl-[6px] pr-2 py-0.5 w-fit"
            >
              <div class="w-[6px] h-[6px] rounded-full bg-sky-500"></div>
              <p class="font-medium text-xs text-sky-800">
                Cursos simples/disciplina
              </p>
            </div>
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200"
          >
            ANDAMENTO
          </td>
          <td
            class="p-3 bg-white text-left font-normal text-sm text-gray-700 border-b border-b-gray-200 w-[72px]"
          >
            <button class="flex items-center justify-center">
              <img src="../../../../../assets/svgs/more.svg" class="w-4 h-4" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
