<form
  class="flex flex-col p-8 gap-y-6 rounded-2xl bg-white border border-gray-200 shadow-sm max-[768px]:w-screen max-[768px]:px-4"
  [formGroup]="stepOneForm"
  (submit)="nextStep.emit()"
>
  <h1 class="font-semibold text-lg text-black">
    Dados pessoais e profissionais
  </h1>

  <!-- Nome completo -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Nome completo *</label>
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
    >
      <input
        formControlName="nome"
        placeholder="Seu nome"
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        required
      />
    </div>
    <div
      *ngIf="stepOneForm.get('nome')?.errors?.['required'] && stepOneForm.get('nome')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe seu nome completo</p>
    </div>
  </div>

  <!-- E-mail -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">E-mail *</label>
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
    >
      <input
        formControlName="email"
        type="email"
        placeholder="example@extecamp.com"
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        required
      />
    </div>
    <div
      *ngIf="stepOneForm.get('email')?.errors?.['required'] && stepOneForm.get('email')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe seu email</p>
    </div>
    <div
      *ngIf="stepOneForm.get('email')?.errors?.['email'] && stepOneForm.get('email')?.touched"
    >
      <p class="font-normal text-sm text-red-600">Informe um email válido</p>
    </div>
  </div>

  <!-- Telefone -->
  <div class="flex flex-col gap-y-[6px]">
    <label class="font-medium text-sm text-gray-700">Telefone *</label>
    <div
      class="flex items-center gap-2 w-[495px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
    >
      <select
        class="font-medium text-base text-gray-800 outline-none cursor-pointer bg-white"
      >
        <option selected>BR</option>
      </select>
      <input
        formControlName="telefone"
        placeholder="+55 (DDD) 00000-0000"
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        required
        [inputMask]="phoneMask"
      />
    </div>
    <div
      *ngIf="stepOneForm.get('telefone')?.errors?.['required'] && stepOneForm.get('telefone')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe seu número de telefone
      </p>
    </div>
  </div>

  <!-- Documento Identificação -->
  <div class="flex flex-col gap-y-[6px]">
    <label class="font-medium text-sm text-gray-700"
      >Documento de identificação *</label
    >
    <div class="flex gap-[18px] max-[768px]:flex-col">
      <div
        class="w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="documento_identificacao_tipo"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option selected value="">Selecione</option>
          <option value="RG">RG</option>
        </select>
      </div>
      <input
        formControlName="documento_identificacao_numero"
        placeholder="12.345.678-99"
        class="w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm text-gray-800 text-base outline-none placeholder:text-gray-500 max-[768px]:w-full"
        [inputMask]="rgMask"
      />
    </div>
    <div
      *ngIf="(stepOneForm.get('documento_identificacao_tipo')?.errors?.['required'] || stepOneForm.get('documento_identificacao_numero')?.errors?.['required']) && stepOneForm.get('documento_identificacao_tipo')?.touched && stepOneForm.get('documento_identificacao_numero')?.touched"
    >
      <p class="font-normal text-sm text-red-600">
        Informe seu melhor documento de identificação
      </p>
    </div>
  </div>

  <!-- Emissor -->
  <div class="flex gap-[18px] max-[768px]:flex-col">
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Órgão emissor *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="documento_identificacao_orgao_emissor"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option value="" selected>Selecione</option>
          <option value="SSP">SSP</option>
          <option value="MTE-SP">MTE-SP</option>
          <option value="MTE-SE">MTE-SE</option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('documento_identificacao_orgao_emissor')?.errors?.['required'] && stepOneForm.get('documento_identificacao_orgao_emissor')?.touched"
      >
        <p class="font-normal text-sm text-red-600 w-[238px]">
          Informe o orgão emissor de seu documento
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Estado emissor *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="documento_identificacao_estado_emissor"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option value="" selected>Selecione</option>
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('documento_identificacao_estado_emissor')?.errors?.['required'] && stepOneForm.get('documento_identificacao_estado_emissor')?.touched"
      >
        <p class="font-normal text-sm text-red-600 w-[238px]">
          Informe o estado de emissão de seu documento
        </p>
      </div>
    </div>
  </div>

  <!-- CPF e Data nascimento -->
  <div class="flex gap-[18px] max-[768px]:flex-col">
    <!-- CPF -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">CPF *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <input
          formControlName="cpf"
          placeholder="000.000.000-00"
          [inputMask]="cpfMask"
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        />
      </div>
      <div
        *ngIf="stepOneForm.get('cpf')?.errors?.['required'] && stepOneForm.get('cpf')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe seu CPF</p>
      </div>
    </div>

    <!-- Data nascimento -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700"
        >Data de nascimento *</label
      >
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <img
          src="../../../../../../../assets/svgs/calendar.svg"
          class="w-5 h-5 max-[768px]:hidden"
        />
        <input
          formControlName="data_nascimento"
          type="date"
          onfocus="this.showPicker()"
          placeholder="dd/mm/aaaa"
          class="flex-1 w-full text-gray-800 text-base outline-none cursor-pointer placeholder:text-gray-500"
        />
      </div>
      <div
        *ngIf="stepOneForm.get('data_nascimento')?.errors?.['required'] && stepOneForm.get('data_nascimento')?.touched"
      >
        <p class="font-normal text-sm text-red-600">
          Informe sua data de nascimento
        </p>
      </div>
    </div>
  </div>

  <!-- Origem -->
  <div class="flex gap-[18px] max-[768px]:flex-col">
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">País de origem *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="naturalidade_pais"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
          (change)="handleChangeCountry()"
        >
          <option value="" selected>Selecione</option>
          <option
            *ngFor="let country of countries"
            [value]="country.translations['por'].common"
          >
            {{ country.translations["por"].common }}
          </option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('naturalidade_pais')?.errors?.['required'] && stepOneForm.get('naturalidade_pais')?.touched"
      >
        <p class="font-normal text-sm text-red-600">
          Informe seu país de origem
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700"
        >Estado de origem *</label
      >
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="naturalidade_estado"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
          (change)="handleChangeState()"
        >
          <option value="" selected>Selecione</option>
          <option *ngFor="let state of states" [value]="state.state_code">
            {{ state.name }}
          </option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('naturalidade_estado')?.errors?.['required'] && stepOneForm.get('naturalidade_estado')?.touched"
      >
        <p class="font-normal text-sm text-red-600">
          Informe seu estado de origem
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700"
        >Cidade de origem *</label
      >
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="naturalidade_cidade"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option value="" selected>Selecione</option>
          <option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('naturalidade_cidade')?.errors?.['required'] && stepOneForm.get('naturalidade_cidade')?.touched"
      >
        <p class="font-normal text-sm text-red-600">
          Informe sua cidade de origem
        </p>
      </div>
    </div>
  </div>

  <!-- Gênero e estado cívil -->
  <div class="flex gap-[18px] max-[768px]:flex-col">
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Gênero *</label>
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="genero"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option value="" selected>Selecione</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('genero')?.errors?.['required'] && stepOneForm.get('genero')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe seu gênero</p>
      </div>
    </div>
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Estado cívil *</label>
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="estado_civil"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option value="" selected>Selecione</option>
          <option value="Solteiro">Solteiro</option>
          <option value="Casado">Casado</option>
          <option value="União estável">União estável</option>
        </select>
      </div>
      <div
        *ngIf="stepOneForm.get('estado_civil')?.errors?.['required'] && stepOneForm.get('estado_civil')?.touched"
      >
        <p class="font-normal text-sm text-red-600">Informe seu estado cívil</p>
      </div>
    </div>
  </div>

  <!-- Deficiência -->
  <div class="flex gap-x-[76px] gap-y-[18px] max-[768px]:flex-col">
    <div class="flex flex-col gap-1">
      <p class="font-medium text-sm text-gray-700">
        Possui alguma deficiência?
      </p>
      <div class="flex items-center gap-x-2">
        <input
          formControlName="possui_deficiencia"
          [value]="true"
          type="radio"
          id="deficiencia_true"
        />
        <label
          for="deficiencia_true"
          class="font-medium text-base text-gray-700"
          >Sim</label
        >
      </div>
      <div class="flex items-center gap-x-2">
        <input
          formControlName="possui_deficiencia"
          [value]="false"
          type="radio"
          id="deficiencia_false"
        />
        <label
          for="deficiencia_false"
          class="font-medium text-base text-gray-700"
          >Não</label
        >
      </div>
    </div>
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Qual?</label>
      <div
        class="flex items-center gap-2 w-[408px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm max-[768px]:w-full"
      >
        <select
          formControlName="deficiencia"
          class="w-full text-gray-800 text-base outline-none cursor-pointer bg-white"
        >
          <option value="" selected>Selecione</option>
          <option value="Visual">Visual</option>
          <option value="Motora">Motora</option>
          <option value="Psicológica">Psicológica</option>
        </select>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      type="button"
      (click)="location.back()"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
        type="button"
        (click)="handleOpenCancelModal.emit()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        [disabled]="!stepOneForm.valid"
      >
        Próximo
      </button>
    </div>
  </div>
</form>
