<section
  class="flex flex-col p-8 gap-y-6 rounded-2xl bg-white border border-gray-200 shadow-sm"
>
  <h1 class="font-semibold text-lg text-black">Endereço</h1>

  <!-- CEP -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">CEP *</label>
    <div
      class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <div class="rounded-full bg-gray-300 w-4 h-4"></div>
      <input
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="00000-000"
        [(ngModel)]="courseRegistration.endereco_cep"
      />
    </div>
  </div>

  <!-- Logradouro -->
  <div class="flex flex-col gap-[6px]">
    <label class="font-medium text-sm text-gray-700">Logradouro *</label>
    <div
      class="flex items-center gap-2 w-[665px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
    >
      <input
        class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
        placeholder="Preencha"
        [(ngModel)]="courseRegistration.endereco_rua"
      />
    </div>
  </div>

  <!-- Número, bairro e complemento -->
  <div class="flex gap-x-[18px]">
    <!-- Número -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Número *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="0000"
          [(ngModel)]="courseRegistration.endereco_numero"
        />
      </div>
    </div>

    <!-- Bairro -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Bairro *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Preencha"
          [(ngModel)]="courseRegistration.endereco_bairro"
        />
      </div>
    </div>

    <!-- Complemento -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Complemento *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <input
          class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
          placeholder="Casa 2"
          [(ngModel)]="courseRegistration.endereco_complemento"
        />
      </div>
    </div>
  </div>

  <!-- Estado, cidade e país -->
  <div class="flex gap-x-[18px]">
    <!-- Estado -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Estado *</label>
      <div
        class="flex items-center gap-2 w-[238px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          [(ngModel)]="courseRegistration.endereco_estado"
        >
          <option selected [ngValue]="''">Selecione</option>
          <option [ngValue]="'AC'">AC</option>
          <option [ngValue]="'AL'">AL</option>
          <option [ngValue]="'AP'">AP</option>
          <option [ngValue]="'AM'">AM</option>
          <option [ngValue]="'BA'">BA</option>
          <option [ngValue]="'CE'">CE</option>
          <option [ngValue]="'DF'">DF</option>
          <option [ngValue]="'ES'">ES</option>
          <option [ngValue]="'GO'">GO</option>
          <option [ngValue]="'MA'">MA</option>
          <option [ngValue]="'MT'">MT</option>
          <option [ngValue]="'MS'">MS</option>
          <option [ngValue]="'MG'">MG</option>
          <option [ngValue]="'PA'">PA</option>
          <option [ngValue]="'PB'">PB</option>
          <option [ngValue]="'PR'">PR</option>
          <option [ngValue]="'PE'">PE</option>
          <option [ngValue]="'PI'">PI</option>
          <option [ngValue]="'RJ'">RJ</option>
          <option [ngValue]="'RN'">RN</option>
          <option [ngValue]="'RS'">RS</option>
          <option [ngValue]="'RO'">RO</option>
          <option [ngValue]="'RR'">RR</option>
          <option [ngValue]="'SC'">SC</option>
          <option [ngValue]="'SP'">SP</option>
          <option [ngValue]="'SE'">SE</option>
          <option [ngValue]="'TO'">TO</option>
        </select>
      </div>
    </div>

    <!-- Cidade -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700">Cidade *</label>
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          [(ngModel)]="courseRegistration.endereco_cidade"
        >
          <option selected [ngValue]="''">Selecione</option>
          <option [ngValue]="'Atibaia'">Atibaia</option>
        </select>
      </div>
    </div>

    <!-- País residência -->
    <div class="flex flex-col gap-[6px]">
      <label class="font-medium text-sm text-gray-700"
        >País de residência *</label
      >
      <div
        class="flex items-center gap-2 w-[324px] px-3 py-2 rounded-lg border border-gray-300 shadow-sm"
      >
        <select
          class="w-full text-gray-800 text-base outline-none"
          [(ngModel)]="courseRegistration.pais_residencia"
        >
          <option selected [ngValue]="''">Selecione</option>
          <option [ngValue]="'Brasil'">Brasil</option>
        </select>
      </div>
    </div>
  </div>

  <hr class="h-[1px] bg-gray-200" />

  <div class="flex justify-between items-center">
    <button
      class="px-4 py-[10px] rounded-lg font-semibold text-sm text-violet-700"
      (click)="backStep.emit()"
    >
      Voltar
    </button>
    <div class="flex gap-x-[15px]">
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-gray-700 shadow-sm border border-gray-300"
      >
        Cancelar
      </button>
      <button
        class="px-4 py-[10px] rounded-lg font-semibold text-sm text-white bg-violet-700"
        (click)="nextStep.emit()"
      >
        Próximo
      </button>
    </div>
  </div>
</section>
