<div class="grid grid-rows-[0px_auto_1fr] grid-cols-[300px_1fr] h-screen">
  <app-sidebar
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: '/student/home'
      },
      {
        title: 'Meus dados',
        routerLink: '#'
      },
      {
        title: 'Meus cursos',
        routerLink: '#'
      }
    ]"
  ></app-sidebar>

  <div
    class="flex col-start-2 row-start-2 flex-row items-center justify-between border-b border-b-gray-200 px-8 py-4 h-[72px] w-full"
  >
    <p></p>
  </div>

  <div
    class="col-start-2 row-start-3 h-full overflow-y-auto w-full px-8 bg-gray-50"
  >
    <h1 class="px-8 py-6 font-semibold text-lg text-gray-900">Inscrição</h1>
    <p class="px-8 font-normal text-sm text-black">
      FOP-0472 - BIOQUÍMICA E FISIOLOGIA APLICADAS AO TREINAMENTO FÍSICO<br />
      Oferecimento 005<br />
      24 de abril a 16 de julho<br />
      Curso de extensão<br />
    </p>
    <div class="flex flex-col py-6 gap-8 mx-auto w-[1072px]">
      <app-steps
        [currentStep]="0"
        [props]="{
          steps: [
            {
              title: 'Dados pessoais e profisisonais',
              step_index: 0,
              amount_inside_steps: 0
            },
            {
              title: 'Endereço',
              step_index: 1,
              amount_inside_steps: 0
            },
            {
              title: 'Termo de compromisso',
              step_index: 2,
              amount_inside_steps: 0
            },
            {
              title: 'Upload de documentos',
              step_index: 3,
              amount_inside_steps: 0
            }
          ]
        }"
      ></app-steps>

      <!--Formulário-->
      <section
        class="flex flex-col p-8 gap-y-6 rounded-2xl bg-white border border-gray-200 shadow-sm"
      >
        <h1 class="font-semibold text-lg text-black">
          Dados pessoais e profissionais
        </h1>

        <!-- Nome completo -->
        <div class="flex flex-col gap-[6px] w-[665px]">
          <label class="font-medium text-sm text-gray-700"
            >Nome completo *</label
          >
          <div
            class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
          >
            <input
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="Seu nome"
            />
          </div>
        </div>

        <!-- E-mail -->
        <div class="flex flex-col gap-[6px] w-[665px]">
          <label class="font-medium text-sm text-gray-700">E-mail *</label>
          <div
            class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
          >
            <input
              type="email"
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="example@extecamp.com"
            />
          </div>
        </div>

        <!-- Telefone -->
        <div class="flex flex-col gap-y-[6px] w-[495px]">
          <label class="font-medium text-sm text-gray-700">Telefone *</label>
          <div
            class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
          >
            <select class="font-medium text-base text-gray-800 outline-none">
              <option>BR</option>
              <option>EN</option>
              <option>ES</option>
            </select>
            <input
              type="email"
              class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="+55 (DDD) 00000-0000"
            />
          </div>
        </div>

        <!-- Documento Identificação -->
        <div class="flex flex-col gap-y-[6px] w-[495px]">
          <label class="font-medium text-sm text-gray-700"
            >Documento de identificação *</label
          >
          <div class="flex gap-[18px] items-center">
            <div
              class="flex w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <select class="w-full text-gray-800 text-base outline-none">
                <option>RG</option>
                <option>CNH</option>
              </select>
            </div>
            <input
              type="email"
              class="w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm text-gray-800 text-base outline-none placeholder:text-gray-500"
              placeholder="1234567890"
            />
          </div>
        </div>

        <!-- Emissor -->
        <div class="flex gap-x-[18px]">
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700"
              >Órgão emissor *</label
            >
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <select class="w-full text-gray-800 text-base outline-none">
                <option>SSP</option>
                <option>MTE-SP</option>
                <option>MTE-SE</option>
              </select>
            </div>
          </div>
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700"
              >Estado emissor *</label
            >
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <select class="w-full text-gray-800 text-base outline-none">
                <option>AC</option>
                <option>AL</option>
                <option>AP</option>
                <option>AM</option>
                <option>BA</option>
                <option>CE</option>
                <option>DF</option>
                <option>ES</option>
                <option>GO</option>
                <option>MA</option>
                <option>MT</option>
                <option>MS</option>
                <option>MG</option>
                <option>PA</option>
                <option>PB</option>
                <option>PR</option>
                <option>PE</option>
                <option>PI</option>
                <option>RJ</option>
                <option>RN</option>
                <option>RS</option>
                <option>RO</option>
                <option>RR</option>
                <option>SC</option>
                <option>SP</option>
                <option>SE</option>
                <option>TO</option>
              </select>
            </div>
          </div>
        </div>

        <!-- CPF e Data nascimento -->
        <div class="flex gap-x-[18px]">
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700">CPF *</label>
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="000.000.000-00"
              />
            </div>
          </div>
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700"
              >Data de nascimento *</label
            >
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <div class="w-5 h-5 rounded-full bg-gray-300"></div>
              <input
                class="w-full text-gray-800 text-base outline-none placeholder:text-gray-500"
                placeholder="dd/mm/aaaa"
              />
            </div>
          </div>
        </div>

        <!-- Origem -->
        <div class="flex gap-x-[18px]">
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700"
              >País de origem *</label
            >
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <select class="w-full text-gray-800 text-base outline-none">
                <option>Brasil</option>
              </select>
            </div>
          </div>
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700"
              >Estado de origem *</label
            >
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <select class="w-full text-gray-800 text-base outline-none">
                <option>SP</option>
              </select>
            </div>
          </div>
          <div class="flex flex-col gap-[6px] w-[238px]">
            <label class="font-medium text-sm text-gray-700"
              >Cidade de origem *</label
            >
            <div
              class="flex gap-2 w-full px-3 py-2 rounded-lg border border-gray-300 shadow-sm items-center"
            >
              <select class="w-full text-gray-800 text-base outline-none">
                <option>Atibaia</option>
              </select>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
