<div class="grid grid-rows-[0px_auto_1fr] grid-cols-[300px_1fr] h-screen">
  <app-sidebar
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: '/student/home'
      },
      {
        title: 'Meus dados',
        routerLink: '#'
      },
      {
        title: 'Meus cursos',
        routerLink: '#'
      }
    ]"
  ></app-sidebar>

  <div class="col-start-2 row-start-2 w-full">
    <app-header-navbar
      [routes]="[
        'Cursos',
        'Meus cursos',
        'Ver todos os cursos',
        '{{course.name}}',
        'Inscrição'
      ]"
    ></app-header-navbar>
  </div>

  <div
    class="col-start-2 row-start-3 h-full overflow-y-auto w-full px-8 bg-gray-50"
  >
    <h1 class="px-8 py-6 font-semibold text-lg text-gray-900">Inscrição</h1>
    <p class="px-8 font-normal text-sm text-black">
      FOP-0472 - BIOQUÍMICA E FISIOLOGIA APLICADAS AO TREINAMENTO FÍSICO<br />
      Oferecimento 005<br />
      24 de abril a 16 de julho<br />
      Curso de extensão<br />
    </p>
    <div class="flex flex-col py-6 gap-8 mx-auto w-[1072px]">
      <app-steps
        [currentStep]="currentStep"
        [props]="{
          steps: [
            {
              title: 'Dados pessoais e profisisonais',
              step_index: 0,
              amount_inside_steps: 0
            },
            {
              title: 'Endereço',
              step_index: 1,
              amount_inside_steps: 0
            },
            {
              title: 'Termo de compromisso',
              step_index: 2,
              amount_inside_steps: 0
            },
            {
              title: 'Upload de documentos',
              step_index: 3,
              amount_inside_steps: 0
            }
          ]
        }"
      ></app-steps>

      <!--Formulário - Step1 -->
      <app-course-subscription-step-one
        *ngIf="currentStep === 0"
        [courseRegistration]="courseRegistration"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-one>

      <!--Formulário - Step2 -->
      <app-course-subscription-step-two
        *ngIf="currentStep === 1"
        [courseRegistration]="courseRegistration"
        (backStep)="backStep()"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-two>

      <!--Formulário - Step3 -->
      <app-course-subscription-step-three
        *ngIf="currentStep === 2"
        (backStep)="backStep()"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-three>

      <!--Formulário - Step4 -->
      <app-course-subscription-step-four
        *ngIf="currentStep === 3"
        (backStep)="backStep()"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-four>
    </div>
  </div>
</div>
