<div class="grid grid-rows-[0px_auto_1fr] grid-cols-[300px_1fr] h-screen">
  <app-sidebar
    [name]="student?.nome"
    [email]="student?.email"
    [navItens]="[
      {
        title: 'Página inicial',
        routerLink: '/student'
      },
      {
        title: 'Meus dados',
        routerLink: '#'
      },
      {
        title: 'Meus cursos',
        routerLink: '#'
      }
    ]"
  ></app-sidebar>

  <div class="col-start-2 row-start-2 w-full">
    <app-header-navbar
      [routes]="[
        'Cursos',
        'Meus cursos',
        'Ver todos os cursos',
        course?.nome,
        'Inscrição'
      ]"
    ></app-header-navbar>
  </div>

  <div
    class="col-start-2 row-start-3 h-full overflow-y-auto w-full px-8 bg-gray-50"
    id="form-student"
  >
    <h1 class="px-8 py-6 font-semibold text-lg text-gray-900">Inscrição</h1>
    <p class="px-8 font-normal text-sm text-black">
      {{ course?.sigla }} - {{ course?.nome }}<br />
      Oferecimento 001<br />
      {{ formatDate(course?.oferecimento?.data_inicio) }} a
      {{ formatDate(course?.oferecimento?.data_encerramento) }}<br />
      {{ course?.tipo }}<br />
    </p>
    <div class="flex flex-col py-6 gap-8 mx-auto w-[1072px]">
      <app-steps
        [currentStep]="currentStep"
        [steps]="[
          {
            title: 'Dados pessoais e profisisonais',
            stepIndex: 0,
            amountInsideSteps: 0
          },
          {
            title: 'Endereço',
            stepIndex: 1,
            amountInsideSteps: 0
          },
          {
            title: 'Termo de compromisso',
            stepIndex: 2,
            amountInsideSteps: 0
          },
          {
            title: 'Upload de documentos',
            stepIndex: 3,
            amountInsideSteps: 0
          }
        ]"
      ></app-steps>

      <!--Formulário - Step1 -->
      <app-course-subscription-step-one
        *ngIf="stepOneForm && currentStep === 0"
        [stepOneForm]="stepOneForm"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-one>

      <!--Formulário - Step2 -->
      <app-course-subscription-step-two
        *ngIf="stepTwoForm && currentStep === 1"
        [stepTwoForm]="stepTwoForm"
        (backStep)="backStep()"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-two>

      <!--Formulário - Step3 -->
      <app-course-subscription-step-three
        *ngIf="currentStep === 2 && course"
        [stepThreeForm]="stepThreeForm"
        [course]="course!"
        (backStep)="backStep()"
        (nextStep)="nextStep()"
      ></app-course-subscription-step-three>

      <!--Formulário - Step4 -->
      <app-course-subscription-step-four
        *ngIf="currentStep === 3"
        [stepFourForm]="stepFourForm"
        (handleSubscribeToCourse)="handleSubscribeToCourse()"
        (backStep)="backStep()"
      ></app-course-subscription-step-four>
    </div>
  </div>
</div>
